<legend>
  1. Datos de la tarea
</legend>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="fieldWrapper">
	        <label for="id_Titulo">Título de la tarea</label>
	        {{ formulario.nombre }}
	</div>
	<div class="fieldWrapper">
	        <label for="id_Descripcion">Descríbela brevemente</label>
	        {{ formulario.notas }}
	</div>
	<div class="control-group">
  		<div class="input-prepend input-datepicker">
    		<button type="button" class="btn"><span class="fui-calendar"></span></button>
    		{{ formulario.fecha_inicio }}
  		</div>
	</div>
	<div class="control-group">
  		<div class="input-prepend input-datepicker">
    		<button type="button" class="btn"><span class="fui-calendar"></span></button>
    		{{ formulario.fecha_fin }}
  		</div>
	</div>
	<div class="fieldWrapper">
	        <label for="id_foto">¿Quieres añadir una foto?</label>
	        {{ formulario.foto }}
	</div>
	<div class="fieldWrapper">
	        <label for="id_repeticion">¿Se repetirá esta tarea?</label>
	        {{ formulario.repeticion }}
	</div>
	<input type="submit" class="btn btn-embossed amarillo" value="Siguiente paso: asignarla a un usuario" />
	
</form>