<div id="rightSideBar">
  <div id="contenidoSide">
  
    <!-- BUSCADOR -->
    <input type="text" placeholder="Filtra tus tareas por joinitys" class="inputNormal input-small">
    <!-- FIN BUSCADOR -->
    
    <!-- TODOS LOS MENSAJES -->
    {% load tareas_filters_2 %}
    
    <div class="todosMensajes">
    {% for joinity in joinitys %}
    
      <!-- CADA MENSAJE -->
      <a href="/mis_tareas/{{joinity.id}}">
      <div class="cadaMensaje nuevo">
      {% if joinity|visto_tarea:usuario %}
       visto
      {% else %}
      no visto
      {% endif %}
      	{% if joinity.foto %}
        	<div class="avatar span3" style="background-image:url('/media/{{joinity.foto}}');">
        {% else %}
        	<div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        {% endif %}
        </div>
        <div class="numeroNotif">
          1
        </div>
        <p class="span9">
          <b>{{joinity.nombre}}</b>
          <i>{{joinity.sub.fecha_inicio}}</i>
          <span>{{ joinity|ultima:usuario }}</span>
        </p>

      </div>
      </a>
      <!-- FIN DE CADA MENSAJE -->
      {% endfor %}
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
   </div>
</div>