<div id="timeline">
{% if single %}
  <div id="escribe-main">
    <h4>Tareas en el joinity</h4>
    <h3>{{single.nombre}}</h3>
  </div>
  <div id="cronologia">
    {% load tareas_filters %}
    {% for tarea in single.tareas.all %}
    {% if not tarea.padre %}
    <!-- ACTUALIZACIÓN: TAREA -->
    <div class="actualizacion texto">
      <div class="clasificacion">
        <div class="icono">
          <i class="iconos">
            q
          </i>
        </div>
        <div class="fecha etiqueta">
          12 jun
        </div>
      </div>
      <div class="continente">
        <div class="creditos">
          <p class="smallTxt">
            {% if tarea.creador.id == usuario.id %}
            Eres el administrador de esta tarea
            {% else %}
            <a href="">
              {{tarea.creador.first_name}} {{tarea.creador.last_name}}
            </a>
            te ha asignado una tarea
            {% endif %}
          </p>
        </div>
        <div class="contenido">
          <!-- CONTENIDO ESPECÍFICO -->
          <div class="texto">
            <label class="checkbox" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" onchange="Dajaxice.joinitys.tareas.marcar_tarea(marca,{'tarea_id':{{tarea.id}}});" data-toggle="checkbox" {% if tarea|completada:usuario %}checked{% endif %}>
              <p>
                {{tarea.nombre}}
              </p>
            </label>
          </div>
          <!-- FIN CONTENIDO ESPECÍFICO -->
          {% if tarea.creador == usuario %}
          <div class="subtareas estados">
            <!-- Cada usuario al que se le ha asignado -->
            <p>Esta tarea se le ha asignado a:</p>
            
            {% for participante in tarea.usuarios_tarea.all %}
            
            <label class="checkbox" for="checkbox1">
            {% if participante.completada == 1 %}
            <i class="completada iconos">
                1
              </i>
            {% else %}
              <i class="no-completada iconos">
                x
              </i>
              {% endif %}
              <div class="assign-user" style="background-image: url('/media/joinity/depo-2.jpg');">
              </div>
              <p>
                {{participante.usuario.first_name}} {{participante.usuario.last_name}}{% if usuario == participante.usuario %}(tú){% endif %}
              </p>
            </label><!-- Fin de usuario asignado -->
            <!-- Cada usuario al que se le ha asignado -->
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% empty %}
    <div>
      AQUI SI HAY JOINITY SELECCIONADO PERO ESTE NO TIENE TAREAS
    </div>
    {% endfor %}
    <!-- FIN ACTUALIZACIÓN: TAREA-->
  </div>
  {% else %}
  <div id="not-tareas">
    <h5>
      No tienes tareas<br>asignadas
    </h5>
    <h6>
      En ninguno de tus joinitys
    </h6>
    <i class="iconos">
      L
    </i>
  </div>
  {% endif %}
</div>