<div id="timeline">
{% if single %}
  <div id="escribe-main">
    <ul id="opciones">
      <li>
        <i class="iconos">
          n
        </i>
        Todas las tareas
      </li>
      <li>
        <i class="iconos">
          j
        </i>
        Ocultar completadas
      </li>
    </ul>
    <div class="escribe-input">
      <div class="avatar">
        <i class="iconos">
          a
        </i>
      </div>
      <div class="input-append">
        <input id="appendedInputButton-02" class="span2" type="text" placeholder="Busca una de tus tareas.">
        <div id="losbotones">
          <button class="btn btn-small" type="button">
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="cronologia">
    <div id="lineaTiempo">
    </div>

    <!-- EL CHAT -->
 {% load tareas_filters %}
{% for tarea in single.tareas.all %}
{% if not tarea.padre %}
<!-- ACTUALIZACIÓN: TAREA -->
<div class="actualizacion texto">
  <div class="clasificacion">
    <div class="icono">
      <i class="iconos">
        q
      </i>
    </div>
    <div class="fecha etiqueta">
      12 jun
    </div>
  </div>
  <div class="continente">
    <div class="creditos">
      <p class="smallTxt">
        <a href="">
          {{tarea.creador.first_name}} {{tarea.creador.last_name}}
        </a>
        te ha asignado una tarea<br>en el joinity <a href="">{{single.nombre}}</a>
      </p>
    </div>
    <div class="contenido">
      <!-- CONTENIDO ESPECÍFICO -->
        <div class="texto">
          <label class="checkbox" for="checkbox1">
            <input type="checkbox" value="" id="checkbox1" onchange="Dajaxice.joinitys.tareas.marcar_tarea(marca,{'tarea_id':{{tarea.id}}});" data-toggle="checkbox" {% if tarea|completada:usuario %}checked{% endif %}>
            <p>{{tarea.nombre}}</p>
          </label>
        </div>
      <!-- FIN CONTENIDO ESPECÍFICO -->
      <div class="subtareas">
      	  {% for subtarea in tarea.hijas.all %}
          <label class="checkbox" for="checkbox1">
            <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
            <p>{{subtarea.nombre}}</p>
          </label>
          {% endfor %}
      </div>
      {% if tarea.creador == usuario %}
      	<a href="/joinity/{{tarea.joinity.id}}/tarea/crear/sub/{{tarea.id}}">Crear Subtarea</a>
      {% endif %}
      {% include "single/comentarios.html" %}
    </div>
  </div>
</div>
{% endif %}
{% empty %}
<div>AQUI SI HAY JOINITY SELECCIONADO PERO ESTE NO TIENE TAREAS</div>
{% endfor %}
<!-- FIN ACTUALIZACIÓN: TAREA-->
  </div>
  {% else %}
  <div id="not-tareas">
  AQUI SI NO HAY TAREAS DE NINGUN TIPO
    <h5>
      Selecciona<br>una tarea
    </h5>
    <h6>
      En el menú de la derecha
    </h6>
    <i class="iconos">
      L
    </i>
  </div>
  {% endif %}
</div>