<form action="" method="post" enctype="multipart/form-data" id="perfil">
  {% csrf_token %}	
  
  <h4>
    INFORMACIÓN PRINCIPAL
  </h4>
  <hr>
  <div class="row campo">
    {% if user_form.first_name.errors %}
    <script>
      alert("Necesitamos saber cómo te llamas");
    </script>
    {% endif %}
    <label for="nombre">
      ¿Cómo te llamas?
    </label>
    {{ user_form.first_name }}
    {% if user_form.last_name.errors %}
    <script>
      alert("Has olvidado introducir tus apellidos");
    </script>
    {% endif %}
    {{ user_form.last_name }}
  </div> <!-- Fin de row -->

  <div class="row campo">
    <label for="email">
      Tu correo electrónico
    </label>
    {{ user_form.email }}
  </div><!-- Fin de row -->

  <div class="row campo fotoEditarUsuario">
      <label for="foto">
        Tu foto
      </label>
      <div class="fileinput">
        <div class="customFileInput btn btn-azul">
          Haz click para subir una foto
        </div>
        {{ perfil_form.foto }}
      </div>
  </div> <!-- Fin de row foto -->

  <div class="row campo">
    {% if perfil_form.ciudad.errors %}
    <script>
      alert("El campo Ciudad es obligatorio");
    </script>
    {% endif %}
    <label for="ciudad">
      Ciudad
    </label>
    {{ perfil_form.ciudad }}
  </div>
  <div class="row campo">
    <label for="nacimiento">
      ¿En qué año naciste?
    </label>
    {{ perfil_form.nacimiento }}
  </div>
  <div class="row campo">
    <label for="sexo">
      Sexo
    </label>
    {{ perfil_form.sexo }}
  </div>
  <div class="row campo">
    <label>
    </label>
    <input type="submit" class="btn amarillo degradado btn-embossed" value="Guarda todos los cambios">
  </div>
  <h4>
    INTERESES
  </h4>
  <hr>
  <div class="row campo">
    <label for="viajes">
      Tus aficiones favoritas
    </label>
    {{ perfil_form.intereses }}
    <span class="help-block">
      ¿No encuentras tu afición favorita?<br>Sé su primer fan en Joinity:<br><a href="/categorias/nuevo_interes" class="btn btn-mini">crea una afición</a>
    </span>
  </div>
  <div class="row campo">
    <label for="compras">
      ¿Qué tipo de productos te interesaria comprar con descuento?
    </label>
    {{ perfil_form.intereses_comprar }}
    <span class="help-block">
      ¿No encuentras alguna marca o producto?<br><a href="/categorias/nueva_compra" class="btn btn-mini">dinos cuál</a>
    </span>
  </div>
  <div class="row campo">
    <label>
    </label>
    <input type="submit" class="btn amarillo degradado btn-embossed" value="Guarda todos los cambios">
  </div>
  <h4>
    OTROS DATOS
  </h4>
  <hr>
  <div class="row campo">
    <label for="dni">
      Tu DNI
    </label>
    {{ perfil_form.dni }}
    <span class="help-block">
      *Sólo necesario si vas a vender.
    </span>
  </div>
  <div class="row campo">
    <label for="telefono">Tu teléfono</label>
    {{ perfil_form.telefono }}
    <span class="help-block">
      *Sólo necesario si vas a vender.
    </span>
	</div>
  <div class="row campo">
    <label for="universidad">
      ¿En qué universidad estudiaste?
    </label>
    {{ perfil_form.universidad }}
  </div>
  <div class="row campo">
    <label for="empresa">
      Empresa donde trabajas
    </label>
    {{ perfil_form.empresa }}
  </div>
  <div class="row campo">
    <label for="cpostal">
      Codigo Postal
    </label>
    {{ perfil_form.cpostal }}
  </div>
  <div class="row campo">
    <label>
    </label>
    <input type="submit" class="btn amarillo degradado btn-embossed" value="Guarda todos los cambios">
  </div>
  <h4>
    AJUSTES DE PRIVACIDAD
  </h4>
  <hr>

  <div class="row campo">
    <label for="oculatr">
      ¿Quieres que tu perfil no sea visible para otros joiners?
    </label>
    {{ perfil_form.ocultar_perfil }}
  </div>
  <div class="row campo">
    <label for="visible">
      ¿Quieres que otros te puedan encontrar por tu dirección de email o tus perfiles en otras redes sociales?
    </label>
    {{ perfil_form.visible }}
  </div>
  <div class="row campo">
    <label for="visible">
      ¿Quieres que publiquemos automáticamente en tus cuentas de otras redes sociales tu actividad en Joinity?
    </label>
    {{ perfil_form.avisar }}
  </div>
  <div class="row campo">
    <label for="visible">
      ¿Quieres que tu ubicación sea visible?
    </label>
    {{ perfil_form.ubicacion_visible }}
  </div>
  <div class="row campo">
    <label>
    </label>
    <input type="submit" class="btn amarillo degradado btn-embossed" value="Guarda todos los cambios">
  </div>

</form>
