<form action="" method="post" enctype="multipart/form-data" id="perfil">
  {% csrf_token %}	
  
  <h4>
    INFORMACIÓN PRINCIPAL
  </h4>
  <hr>
  <div class="row campo">
    {% if user_form.first_name.errors %}
    <script>
      alert("Necesitamos saber cómo te llamas");
    </script>
    {% endif %}
    <label for="nombre">
      ¿Cómo te llamas?
    </label>
    {{ user_form.first_name }}
    {% if user_form.last_name.errors %}
    <script>
      alert("Has olvidado introducir tus apellidos");
    </script>
    {% endif %}
    {{ user_form.last_name }}
  </div> <!-- Fin de row -->

  <div class="row campo">
    <label for="email">
      Tu correo electrónico
    </label>
    {{ user_form.email }}
  </div><!-- Fin de row -->

  <div class="row campo fotoEditarUsuario">
      <label for="foto">
        Tu foto
      </label>
      <div class="fileinput">
        <div class="customFileInput btn btn-azul">
          Haz click para subir una foto
        </div>
        {{ perfil_form.foto }}
      </div>
  </div> <!-- Fin de row foto -->

  <div class="row campo">
    {% if perfil_form.ciudad.errors %}
    <script>
      alert("El campo Ciudad es obligatorio");
    </script>
    {% endif %}
    <label for="ciudad">
      Ciudad
    </label>
    {{ perfil_form.ciudad }}
  </div>
  <div class="row campo">
    <label for="nacimiento">
      ¿En qué año naciste?
    </label>
    {{ perfil_form.nacimiento }}
  </div>
  <div class="row campo">
    <label for="sexo">
      Sexo
    </label>
    {{ perfil_form.sexo }}
  </div>

  <h4>
    OTROS DATOS
  </h4>
  <hr>

  <div class="row campo">
    <label for="dni">
      Tu DNI
    </label>
    {{ perfil_form.dni }}
    <span class="help-block">
      *Sólo necesario si vas a vender.
    </span>
  </div>
  <div class="fieldWrapper">
    <label for="telefono">Tu teléfono</label>
    {{ perfil_form.telefono }}
    <span class="help-block">
      *Sólo necesario si vas a vender.
    </span>
	</div>
	<div class="fieldWrapper">
	        <label for="universidad">Universidad:</label>
	        {{ perfil_form.universidad }}
	</div>
	<div class="fieldWrapper">
	        <label for="empresa">Empresa:</label>
	        {{ perfil_form.empresa }}
	</div>

	<div class="fieldWrapper">
	        <label for="cpostal">Codigo Postal:</label>
	        {{ perfil_form.cpostal }}
	</div>
	<hr><h4>INTERESES</h4>
	<div class="fieldWrapper">
	        <label for="viajes">Intereses:</label>
	        {{ perfil_form.intereses }}
	</div>
	<a href="/categorias/nuevo_interes"><input type="button" value="Crear Intereses"/></a>
	
	<div class="fieldWrapper">
	        <label for="compras">Compras:</label>
	        {{ perfil_form.intereses_comprar }}
	</div>
	<a href="/categorias/nueva_compra"><input type="button" value="Crear Compras"/></a>
	
	<hr><h4>PRIVACIDAD</h4>
	<div class="fieldWrapper">
	        <label for="oculatr">Desea Ocultar su perfil:</label>
	        {{ perfil_form.ocultar_perfil }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea ser encontrado por redes sociales o email:</label>
	        {{ perfil_form.visible }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea publicar sus joinitys en redes sociales:</label>
	        {{ perfil_form.avisar }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea tener visible su ubicacion:</label>
	        {{ perfil_form.ubicacion_visible }}
	</div>
    <input type="submit" value="Guardar cambios">
</form>
