<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}	
  <hr>
  <h4>
    INFORMACIÓN
  </h4>
  <div class="campo">
    {% if user_form.first_name.errors %}
    <script>
      alert("Necesitamos saber cómo te llamas");
    </script>
    {% endif %}
    <label for="nombre">
      ¿Cómo te llamas?
    </label>
    {{ user_form.first_name }}
    {% if user_form.last_name.errors %}
    <script>
      alert("Has olvidado introducir tus apellidos");
    </script>
    {% endif %}
    {{ user_form.last_name }}
  </div>
  <div class="campo">
    <label for="email">
      Tu correo electrónico
    </label>
    {{ user_form.email }}
  </div>
  <div class="campo fotoEditarUsuario">
    <div class="span4">
      {% if usuario.usuario.foto %}
      <img src="/media/{{usuario.usuario.foto}}" alt="">
      {% else %}
      <img src="/media/{{usuario.usuario.foto}}" alt="">
      {% endif %}
    </div>
    <div class="span5"
      <label for="foto">
        Tu foto
      </label>
      {{ perfil_form.foto }}
    </div>
  </div>
	<div class="fieldWrapper">
	        <label for="dni">DNI:</label>
	        {{ perfil_form.dni }}
	</div>
	<div class="fieldWrapper">
	        <label for="telefono">Telefono:</label>
	        {{ perfil_form.telefono }}
	</div>
	<div class="fieldWrapper">
	        <label for="universidad">Universidad:</label>
	        {{ perfil_form.universidad }}
	</div>
	<div class="fieldWrapper">
	        <label for="empresa">Empresa:</label>
	        {{ perfil_form.empresa }}
	</div>
	<div class="fieldWrapper">
			{% if perfil_form.ciudad.errors %}
    			<script>alert("El campo Ciudad es obligatorio");</script>
    		{% endif %}
	        <label for="ciudad">Ciudad:</label>
	        {{ perfil_form.ciudad }}
	</div>
	<div class="fieldWrapper">
	        <label for="nacimiento">Fecha de Nacimiento:</label>
	        {{ perfil_form.nacimiento }}
	</div>
	<div class="fieldWrapper">
	        <label for="sexo">Sexo:</label>
	        {{ perfil_form.sexo }}
	</div>
	<div class="fieldWrapper">
	        <label for="cpostal">Codigo Postal:</label>
	        {{ perfil_form.cpostal }}
	</div>
	<hr><h4>INTERESES</h4>
	<div class="fieldWrapper">
	        <label for="viajes">Intereses:</label>
	        {{ perfil_form.intereses }}
	</div>
	<a href="/categorias/nuevo_interes"><input type="button" value="Crear Intereses"/></a>
	
	<div class="fieldWrapper">
	        <label for="compras">Compras:</label>
	        {{ perfil_form.intereses_comprar }}
	</div>
	<a href="/categorias/nueva_compra"><input type="button" value="Crear Compras"/></a>
	
	<hr><h4>PRIVACIDAD</h4>
	<div class="fieldWrapper">
	        <label for="oculatr">Desea Ocultar su perfil:</label>
	        {{ perfil_form.ocultar_perfil }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea ser encontrado por redes sociales o email:</label>
	        {{ perfil_form.visible }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea publicar sus joinitys en redes sociales:</label>
	        {{ perfil_form.avisar }}
	</div>
	<div class="fieldWrapper">
	        <label for="visible">Desea tener visible su ubicacion:</label>
	        {{ perfil_form.ubicacion_visible }}
	</div>
    <input type="submit" value="Guardar cambios">
</form>
