<!-- MODAL PARA CREAR CATEGORÍAS DE AFICIONES -->
<div id="modal-crea-aficion" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">

    <div id="form-modal">
      <h4>
        Crea una nueva afición
      </h4>
      <hr>
        <label for="id_categoria">
          ¿A qué categoría pertenece?
        </label>
        <form id="formulario_categoria" method="post">
          {% csrf_token %}
        
        <select id="id_categoria" name="categoria">
        <option selected="selected" value="">---------</option>
        
        
        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
        {% endfor %}
        </select>
        <label for="id_nombre">
          Nombre de la afición que quieres crear
        </label>
        <input id="id_nombre" type="text" name="nombre" class="inputNormal input-small">
        <input type="button" value="Crea la afición" class="btn btn-small amarillo" onclick="Dajaxice.categorias.crear(crear_categoria, {'formulario':$('#formulario_categoria').serializeObject(),'tipo':1 })">
        </form>
    </div>

  </div>
</div>
<!-- FIN DE MODAL -->

<!-- MODAL PARA CREAR CATEGORÍAS DE COMPRAS -->
<div id="modal-crea-compra" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">

    <div id="form-modal">
      <h4>
        ¿Qué producto o marca te interesa?
      </h4>
      <hr>
      <form action="" method="post" id="formulario_categoria_compras">
        <label for="id_categoria">
          ¿A qué categoría pertenece?
        </label>
        <select id="id_categoria" name="categoria">
          <option selected="selected" value="">
            ---------
          </option>
          {% for categoria in categorias_compras %}
        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
          {% endfor %}
        </select>
        <label for="id_nombre">
          Nombre del producto o marca que te interesa
        </label>
        <input id="id_nombre" type="text" name="nombre" class="inputNormal input-small">
        <input type="button" value="Crealo" class="btn btn-small amarillo" onclick="Dajaxice.categorias.crear(crear_categoria, {'formulario':$('#formulario_categoria_compras').serializeObject(),'tipo':2 })">
      </form>
    </div>

  </div>
</div>