<!-- MODAL PARA CREAR CATEGORÍAS DE AFICIONES -->
<div id="modal-crea-aficion" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">

    <div id="form-modal">
      <h4>
        Crea una nueva afición
      </h4>
      <hr>
      <form action="" method="post">
        <label for="id_categoria">
          ¿A qué categoría pertenece?
        </label>
        <select id="id_categoria" name="categoria">
          <option selected="selected" value="">
            ---------
          </option>
          <option value="1">
            Deportes
          </option>
          <option value="2">
            Juegos
          </option>
        </select>
        <label for="id_nombre">
          Nombre de la afición que quieres crear
        </label>
        <input id="id_nombre" type="text" name="nombre" class="inputNormal input-small">
        <input type="submit" value="Crea la afición" class="btn btn-small amarillo">
      </form>
    </div>

  </div>
</div>
<!-- FIN DE MODAL -->

<!-- MODAL PARA CREAR CATEGORÍAS DE COMPRAS -->
<div id="modal-crea-compra" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">

    <div id="form-modal">
      <h4>
        ¿Qué producto o marca te interesa?
      </h4>
      <hr>
      <form action="" method="post">
        <label for="id_categoria">
          ¿A qué categoría pertenece?
        </label>
        <select id="id_categoria" name="categoria">
          <option selected="selected" value="">
            ---------
          </option>
          <option value="1">
            Deportes
          </option>
          <option value="2">
            Juegos
          </option>
        </select>
        <label for="id_nombre">
          Nombre del producto o marca que te interesa
        </label>
        <input id="id_nombre" type="text" name="nombre" class="inputNormal input-small">
        <input type="submit" value="Créalo" class="btn btn-small amarillo">
      </form>
    </div>

  </div>
</div>