{% load staticfiles %}{% load mathfilters %}


{% if not logeado and not amigos %}
	<a href="/amigo/invitar/{{usuario.id}}"><input type="button" value="Solicitar Amistad"/></a>
{% endif %}


{% if logeado or not usuario.usuario.oculto or amigos %}
	
	{% if logeado %}
		<a href="/usuario/editar/"><input type="button" value="Editar Perfil"/></a>
	
		{% if usuario.usuario.mensajes != 0 %}
			{% if usuario.usuario.mensajes == 1 %}
				<p><a href="/mensaje/inbox">Tiene {{usuario.usuario.mensajes}} mensaje</a></p>
			{% else %}
				<p><a href="/mensaje/inbox">Tiene {{usuario.usuario.mensajes}} mensajes</a></p>
			{% endif %}
		{% endif %}
		{% if usuario.usuario.solicitudes != 0 %}
			{% if usuario.usuario.solicitudes == 1 %}}
				<p><a href="/amigo/">Tiene {{usuario.usuario.solicitudes}} solicitud de amistad</a></p>
			{% else %}
				<p><a href="/amigo/">Tiene {{usuario.usuario.solicitudes}} solicitudes de amistad</a></p>
			{% endif %}
		{% endif %}
	{% endif %}
	<hr>
	<h2>Puntuacion: {{usuario.usuario.puntuacion_media}}</h2>
	{% if not logeado %}
		<form action="" method="post">
			{% csrf_token %}
			{{ formulario }}
			<input type="submit" value="Puntuar" />
		</form>
	{% endif %}
	<h1>INFORMACI&OacuteN</h1>
	<p>Foto: <img src="/media/{{usuario.usuario.foto}}"></p>
    <p>Nombre: {{usuario.first_name}}</p>
    <p>Apellidos: {{usuario.last_name}}</p>
    <p>Email: {{usuario.email}}</p>
    <p>DNI: {{usuario.usuario.dni}} </p>
    <p>Telefono: {{usuario.usuario.telefono}}</p>
    <p>Universidad: {{usuario.usuario.universidad}}</p>
    <p>Empresa: {{usuario.usuario.empresa}}</p>
    <p>Fecha nacimiento: {{usuario.usuario.nacimiento}}</p>
    <p>Sexo: {% if usuario.usuario.es_hombre %}Hombre{% else %}Mujer{% endif %}</p>
    <p>Ciudad: {{usuario.usuario.ciudad}}</p>
    <p>Codigo Postal: {{usuario.usuario.cpostal}}</p>
    <hr>
    <h1>INTERESES:</h1>
    <p>Intereses:</p>
    {% for interes in usuario.usuario.intereses.all %}
    	<li>{{interes.categoria.nombre}}-{{interes.nombre}}</li>
    {% endfor %}
    <p>Comprar:</p>
    {% for interes in usuario.usuario.intereses_comprar.all %}
    	<li>{{interes.categoria.nombre}}-{{interes.nombre}}</li>
    {% endfor %}
    <hr>
    <h1>CONTACTOS</h1>
    {% if lista_amigos %}
		{% for amigo in lista_amigos %}
			<p>{{amigo.amigo.first_name}} {{amigo.amigo.last_name}}<a href="/usuario/{{amigo.amigo.id}}">ver perfil</a></p>
		{% endfor %}
	{% else %}
		No tiene amigos
	{% endif %}
	{% if busqueda %}
	<form action="/usuario/buscar/" method="get">
		{{ busqueda }}
		<input type="submit" value="Buscar" />
	</form>	
	{% endif %}
{% else %}
    <p>Perfil no visible.</p>
{% endif %}
