  <h3>
    {{perfil.first_name}} {{perfil.last_name}}
  </h3>
  <h6>
  {% if perfil.usuario.ciudad %}
    <i class="iconos">
      l
    </i>
    {{perfil.usuario.ciudad}}
  {% endif %}
  {% if perfil.usuario.ciudad and perfil.usuario.nacimiento %}
    , 
  {% endif %}
  {% if perfil.usuario.nacimiento %}
    <i class="iconos">
      q
    </i>
    {{perfil.usuario.nacimiento}}
  {% endif %}
  </h6>
  <br>
</div>

{% load staticfiles %}{% load mathfilters %}

  <div id="opcionesPrevVerPerfil">
    {% if not logeado and not amigos and not solicitud %}
    <a href="/amigo/invitar/{{perfil.id}}" class="btn">
      Solicitar amistad
    </a>
    {% elif not logeado and solicitud %}
    <a href="/amigo/invitar/{{perfil.id}}" class="btn">
      Solicitud de amistad enviada
    </a>
    {% elif not logeado %}
    <a href=" /mensaje/inbox/{{perfil.id}}" class="btn">
      Escríbele un mensaje a {{perfil.first_name}}
    </a>
    {% endif %}
    
    
    {% if logeado or not usuario.usuario.oculto or amigos %}
    
    {% if logeado %}
    <a href="/usuario/editar/" class="btn btn-small grisclaro">
      <i class="iconos">
        n
      </i>
      Edita tu perfil
    </a>
    <a href="#modalContactos" class="btn btn-small grisclaro" data-toggle="modal">
      <i class="iconos">
        5
      </i>
      Gestiona tus contactos
    </a>
    {% endif %}
  </div>

  <h4>
    Acerca de {{perfil.first_name}}
  </h4>
  <hr>
  
  <div class="row campo">
    <label for="">
      Nombre
    </label>
    <p class="color">
      {{perfil.first_name}} {{perfil.last_name}}
    </p>
  </div>
  <div class="row campo">
    <label for="">
      Foto
    </label>
    <div class="thumb" style="background-image:url('/media/{{perfil.usuario.foto}}')">
    </div>
  </div>
  
  <div class="row campo">
    <label for="">
      Correo electrónico
    </label>
    <p>
      {{perfil.email}}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      Sexo
    </label>
    <p>
      {% if perfil.usuario.es_hombre %}Hombre{% else %}Mujer{% endif %}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      Edad
    </label>
    <p>
    {% if perfil.usuario.nacimiento %}
      {{perfil.usuario.nacimiento}}
    {% else %}
      –
    {% endif %}
    </p>
  </div>
  <div class="row campo">
    <label for="">
      Ciudad
    </label>
    <p>
      {{perfil.usuario.ciudad}}
    </p>
  </div>
  <div class="row campo">
    <label for="">
      Código postal
    </label>
    <p>
      {{perfil.usuario.cpostal}}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      Teléfono
    </label>
    <p>
      {{perfil.usuario.telefono}}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      DNI
    </label>
    <p>
      {{perfil.usuario.dni}}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      Universidad
    </label>
    <p>
      {{perfil.usuario.universidad}}
    </p>
  </div>
    <div class="row campo">
    <label for="">
      Empresa
    </label>
    <p>
      {{perfil.usuario.empresa}}
    </p>
  </div>
  
  <div class="row campo">
    <label for="">
      Puntuación<br>(según la valoración de otros joiners)
    </label>
    <p>
    {% if perfil.usuario.puntuacion_media %}
      {{perfil.usuario.puntuacion_media}}
    {% else %}
      ––
    {% endif %}
    </p>
  </div>
  
  {% if not logeado %}
  <form action="" method="post">
    {% csrf_token %}
    {{ formulario }}
    <input type="submit" value="Puntua ahora a {{perfil.first_name}}" class="btn btn-mini amarillo bpunt" />
  </form>
  {% endif %}

  <h4>
    Intereses y contactos de {{perfil.first_name}}
  </h4>
  <hr>

  <div class="row campo">
    <label for="">
      Intereses de {{perfil.first_name}}
    </label>
    <div class="listaintereses">
    {% for interes in perfil.usuario.intereses.all %}
      <div class="listainteres">
        <span class="btn btn-mini azul">
          {{interes.nombre}}
        </span>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="row campo">
    <label for="">
      Cosas que le gustaría tener a {{perfil.first_name}}
    </label>
    <div class="listaintereses">
    {% for interes in perfil.usuario.intereses_comprar.all %}
      <div class="listainteres">
        <span class="btn btn-mini verde">
        {{interes.nombre}}
        </span>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="row campo">
    <label for="">
      Contactos
    </label>
    <div class="listaintereses">
    {% if lista_amigos %}
    {% for amigo in lista_amigos %}
      <div class="listainteres">
        <a class="btn btn-mini rojo" href="/usuario/{{amigo.amigo.id}}">
        {{amigo.amigo.first_name}} {{amigo.amigo.last_name}}
        </a>
      </div>
      {% endfor %}
      {% else %}
      <p>
        Sin contactos.
      </p>
      {% endif %}
      {% if perfil.usuario.blogger %}
      <div>
      BLOG: {{perfil.usuario.blog}}<br>
      {% for interes in perfil.usuario.intereses_blog.all %}
      	{{interes.categoria.nombre}}-{{interes.nombre}}</br>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
	ULTIMOS JOINITYS PARTICIPADOS
	{% for joinity in perfil.usuario.get_ultimos_joinitys %}
		{{joinity.nombre}}<br>
	{% endfor %}
  {% include 'usuario/modal-contactos.html' %}

  {% endif %}

