<div class="comentariosJoinity">
  <div class="btn btn-mini grisclaro">
    Comentar
  </div>
  <!-- INPUT COMENTAR -->
  <div class="escribe-input oculto">
    <div class="avatar" style="background-image:url('/media/images/ejemplos/avatar.png');">
    </div>
    <div class="input-append">
      <input class="span2 inputNormal" type="text" placeholder="Cuéntale algo al grupo.">
      <div class="elboton">
        <button class="btn btn-mini" type="button">
          Enviar
        </button>
      </div>
    </div>
  </div>
  <!-- FIN INPUT COMENTAR -->
  <div class="respuestas">
    <div class="respuesta">
      <i class="iconos">
        y
      </i>
      <p class="smallTxt"><a href="">Borja Cocheteux</a>, hace una hora</p>
      <p>
        Lo vamos a pasar genial.
      </p>
    </div>
    <div class="respuesta">
      <i class="iconos">
        y
      </i>
      <p class="smallTxt"><a href="">Borja Cocheteux</a>, hace media hora</p>
      <p>
        Pero no olvidéis comprar el regalo.<br>Y también llevar bañador!
      </p>
    </div>
  </div>
</div>