  <div class="extracto-joinity horizontal unJoinity">
    <div class="left-side" style="background-image:url('/media/{{joinity.foto}}');">
      {% if soy == "nadie" %}
      	<a class="btn joinit" href="/joinity/unirse/{{joinity.id}}/">Únete a este Joinity</a>
      {% elif soy == "desconectado" %}
      	<a class="btn joinit" href="/login/?next=/joinity/{{joinity.id}}/">Conectate para unirte a este Joinity</a>
      {% elif soy == "espera" %}
      	<div class="btn joinit">Estas a la espera</div>
      {% elif soy == "nada" and joinity.privacidad != 2 %}
      	<a class="btn joinit" href="/joinity/unirse/{{joinity.id}}/">Únete a este Joinity</a>
      {% endif %}
    </div>
    <div class="right-side">
      <!-- FILA 01 -->
      <div class="fila">
        <div class="valor01">
          <i class="iconos">
            h
          </i>
          <p>
            {{joinity.precio}}
            <span>
              euros/ persona
            </span>
          </p>
        </div>
        <div class="valor02">
          <i class="iconos">
            i
          </i>
          <p>
            {{joinity.hasta}}
            <span>
              días para {% if joinity.empezo %} acabar {% else %} empezar {% endif %}
            </span>
          </p>
        </div>
      </div> <!-- FIN FILA 01 -->
      <!-- FILA 02 -->
      <div class="fila">
        <div class="valor03">
          <h3>
            {{joinity.nombre}}
          </h3>
        </div>
        <div class="valor04">
          <div class="etiqueta">
            {{joinity.get_categoria}}
          </div>
          {% if joinity.get_subcategoria %}
          	<div class="etiqueta">
            	{{joinity.get_subcategoria}}
          	</div>
          {% endif %}
        </div>
      </div> <!-- FIN FILA 02 -->
      <!-- FILA 03 -->
      <div class="fila">
        <div class="valor05">
          <div class="numero-joiners">
            <p>
              <span class="njoiners">
                {{joinity.n_joiners}}
              </span>
              joiners > 
              <span class="djoiners">
                15%
              </span>
              de descuento
            </p>
          </div>
          <div class="progreso">
            <div class="progress">
              <div class="bar" style="width: {{joinity.get_porcentaje}}%;">
              </div>
            </div>
            <p class="minjoiners">
              Mín. {{joinity.n_min}} joiners
            </p>
            <p class="maxjoiners">
              Míx. {{joinity.n_max}} joiners
            </p>
          </div>
        </div>
        <!-- NOTA: en data-estrellas: del 1 al 5 y si no se ha puntuado aún 0. Sólo si data-estrellas es 0 se puede votar -->
        <div class="valor06 estrellas" data-estrellas="0">
          {% for i in cinco  %}
        	{% if i <= joinity.puntuacion_media %}
        		<i class="iconos punto">j</i>
         	{% else %}
         		<i class="iconos">j</i>
         	{% endif %}
           {% endfor %}
        </div>
      </div> <!-- FIN FILA 03 -->
      <div class="fila">
        <div class="valor07">
          <p>
            {{joinity.descripcion}}
          </p>
        </div>
      </div>
      <div class="fila">
        <div class="valor08">
        	{% for multimedia in joinity.get_multimedia.all %}
        		{% if  multimedia.tipo == 2 %}
          			<a class="thumb-img" href="" alt="" style="background-image:url('/media/{{multimedia.foto.contenido}}');"></a>
          		{% else %}
          			<a class="thumb-video" href="http://www.{{multimedia.texto.contenido}}" alt="" style="background-image:url('/media/images/ejemplos/archivo01.png');"></a>	
       			{% endif %}
          {% endfor %}
        </div>
        <div class="valor09">
        {% for lugar in joinity.lugares.all|slice:":2" %}
          <div class="etiqueta">
            <i class="iconos">
              l
            </i>
            {{lugar.lugar}}
          </div>
          {% if not forloop.last %}
          <div class="trazado">
            <span class="arriba">
            </span>
            <span class="abajo">
            </span>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>