    {% extends "base.html" %}
    {% block contenedor %}
    <div id="contenedorMain">
      {% include "persistentes/menuAdaptativo.html" %} 
      <div class="container-fluid contenedorAdaptativo">
        <div class="row-fluid">
          <div class="span2 panelIzquierdo">
          {% include "persistentes/leftMenu.html" %}
          </div>
          <div class="span10" id="contenedorPrincipal">
          {% include "persistentes/buscador.html" %}
            <div id="unJoinity">
            {% if joinity.get_tipo == "aficiones" %}
              {% include "single/head-aficiones.html" %}
            {% endif %}
            {% if joinity.get_tipo == "compras" %}
              {% include "single/head-compras.html" %}
            {% endif %}
            {% if joinity.get_tipo == "family" %}
              {% include "single/head-family.html" %}
            {% endif %}
            <div id="contenedorJoinity" {% if soy != "miembro" and soy != "admin" %}class="fondoalfa" style="background-image:url('/media/images/fondoalfa.png')"{% endif %}>
            {% if soy == "miembro" or soy == "admin" %}
              {% include "single/timeline.html" %}
            {% if joinity.get_tipo == "aficiones" %}
              {% include "single/rightSideBar-aficiones.html" %}
            {% endif %}
            {% if joinity.get_tipo == "compras" %}
              {% include "single/rightSideBar-compras.html" %}
            {% endif %}
            {% if joinity.get_tipo == "family" %}
              {% include "single/rightSideBar-family.html" %}
            {% endif %}
            {% endif %}
            <div style="clear:both;width:1px;height:1px;">
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  setInterval(function() {
   Dajaxice.joinitys.refrescar(refrescar_joinitys, {'joinity_id':{{joinity.id}},});
  }, 30000);
</script>
{% endblock %}