<!-- MODAL PARA ABRIR LISTA DE JOINITY COMPRAS EN FAMILY & FRIENDS -->
<div id="modalJoinitysCompras" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">
      {% for compra in lista_compras %}
       {{compra.nombre}}-Precio: {{compra.compras.get_precio}}
       <a href="/joinity/{{compra.id}}" target="_blank"><button type="button">Ver</button></a>
       <button type="button">Asignar</button>
       <br>
      {% endfor %} 
       
  </div>
</div>
<!-- FIN DE MODAL -->