<!-- MODAL INVITADOS -->
<div id="modalInvitados" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tuscontactos">
          Participantes en este joinity
        </a>
      </li>
      <li class="">
        <a href="#buscanuevoscontactos">
          Invita nuevos joiners
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tuscontactos">
        <table class="table table-striped">
        {% for miembro in joinity.joinity_usuario.all %}
          <tr>
            <td class="columna-main">
              <p>
                {{miembro.usuario.first_name}} {{miembro.usuario.last_name}}
              <p>
            </td>
            <td>
              <a href="/usuario/{{miembro.usuario.id}}" class="btn btn-mini rojo">
                Ver perfil
              </a>
            </td>
          </tr>
          {% empty %}
          No hay nada en la lista
          {% endfor %}
        </table>
      </div>
      <div class="tab-pane" id="buscanuevoscontactos">
        <input type="text" id="busqueda_usuarios" class="inputNormal input-small">
        <input type="button" value="Busca un usuario" class="btn btn-small" id="ajaxbtn" onclick="Dajaxice.usuario.buscar(busquedausuarios, {'usuario':$('#busqueda_usuarios').val(), 'joinity_id':{{joinity.id}}});"/>
        <br>
        <div id="resultadosbusquedausuarios">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN DE MODAL -->