<!-- MODAL PARA CREAR CATEGORÍAS DE AFICIONES -->
<div id="modal-crea-pago" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">

    <div id="form-modal">
      <h4>
        Crea un gasto, repártelo y recibe el pago
      </h4>
      <hr>
        <form method="post" id="formulario_crear_pago">
         {% csrf_token %}
         <label for="id_correo">Cuenta de Paypal</label>
          {{frmpago.correo}}
          <label for="id_concepto">Concepto del Pago</label>
          {{frmpago.concepto}}
          <label for="id_descripcion">Descripcion del Pago</label>
          {{frmpago.descripcion}}
          <label for="id_producto">Nombre del Producto</label>
          {{frmpago.producto}}
          <label for="id_precion">Precio del Producto</label>
          {{frmpago.precio}}
          <label for="id_usuarios">Usuarios invitados</label>
          <select id="id_usuarios" name="usuarios" multiple="multiple">
             {% for miembro in joinity.joinity_usuario.all %}
               <option value="{{miembro.usuario.id}}">{{miembro.usuario.first_name}} {{miembro.usuario.last_name}}</option>
             {% endfor %}
          </select>
          <input type="button" value="CREAR" onclick="Dajaxice.joinitys.pagos.crear(crear_pago_joinity, {'formulario':$('#formulario_crear_pago').serializeObject(), 'joinity_id':{{joinity.id}}})">
          </form>
    </div>
  </div>
</div>
<!-- FIN DE MODAL -->