<div id="rightSideBar" class="compra-right">
  <div id="contenidoSide">
    <div class="buscaProducto">
      <a href="/brands/{{joinity.compras.brand.id}}">
      <div class="logo-m btn btn-small btn-block btn-icono btn-embossed">
        <div class="logo-marca" style="background-image:url('/media/{{joinity.compras.brand.imagen_cabecera}}');">
        </div>
        {{joinity.compras.brand.nombre}} <span> en <b>Joinity</b></span>
      </div>
      </a>
    </div>
    {% if soy == "admin" %}
    <div class="crearPago">
    <a href="/joinity/{{joinity.id}}/pago/crear">
      <div class="btn btn-small btn-block btn-icono gris">
        <i class="iconos">
          f
        </i>
        Crea un pago
      </div>
    </a>
    {% endif %}
    {% if joinity.compras.ya_paso %}
    <div>HOLA SOY EL DIV QUE SIGNIFICA QUE HE ACABADO</div>
    {% endif %}
    <!-- PRODUCTOS SIMILARES -->
    <div class="compras losEventos">
      <div class="tituloSide">
        <div class="lineaCirculo">
        </div>
        Otros productos similares
      </div>
      <div class="eventosLista">
      {% for similar in joinity.compras.get_similares.all %}
      
        <!-- CADA PRODUCTO -->
        <div class="unEvento">
          <div class="fechaEvento" style="background-image:url('/media/{{similar.foto}}">
          </div>
          <p>
            {{similar.nombre}}
            <span>
              Precio: <b>{{similar.compras.get_precio}}</b><br>
              Descuento: <b>{{similar.compras.get_descuento}}%</b>
            </span>
          </p>
          <a href="/joinity/{{similar.id}}">
            <div class="btn btn-mini btn-icono gris">
              <i class="iconos">
                f
              </i>
              Me interesa
            </div>
          </a>
        </div><!-- FIN DE PRODUCTO -->
       {% endfor %}
      </div>
    </div><!-- FIN DE PRODUCTOS SIMILARES -->
  </div>
</div>