<div id="rightSideBar" class="compra-right">
  <div id="contenidoSide">
    <div class="buscaProducto">
      <div class="logo-m btn btn-small btn-block btn-icono btn-embossed">
        <div class="logo-marca" style="background-image:url('/media/images/logo-apple.png');">
        </div>
        Apple Inc. <span>en <b>Joinity</b></span>
      </div>
    </div>
    <!-- PRODUCTOS SIMILARES -->
    <div class="compras losEventos">
      <div class="tituloSide">
        <div class="lineaCirculo">
        </div>
        Otros productos similares
      </div>
      <div class="eventosLista">
        <!-- CADA PRODUCTO -->
        <div class="unEvento">
          <div class="fechaEvento" style="background-image:url('/media/images/fondo-compras.jpg">
          </div>
          <p>
            Apple iPad 2 Wi-Fi 3G 16GB (Negro)
            <span>
              Precio: <b>250 euros</b><br>
              Descuento: <b>15%</b>
            </span>
          </p>
          <a href="/joinity/{{joinity.id}}/evento/{{evento.id}}/unirse/">
            <div class="btn btn-mini btn-icono gris">
              <i class="iconos">
                f
              </i>
              Me interesa
            </div>
          </a>
        </div><!-- FIN DE PRODUCTO -->
        <!-- CADA PRODUCTO -->
        <div class="unEvento">
          <div class="fechaEvento" style="background-image:url('/media/images/fondo-compras.jpg">
          </div>
          <p>
            Apple iPad 2 Wi-Fi 3G 16GB (Negro)
            <span>
              Precio: <b>250 euros</b><br>
              Descuento: <b>15%</b>
            </span>
          </p>
          <a href="/joinity/{{joinity.id}}/evento/{{evento.id}}/unirse/">
            <div class="btn btn-mini btn-icono gris">
              <i class="iconos">
                f
              </i>
              Me interesa
            </div>
          </a>
        </div><!-- FIN DE PRODUCTO -->
      </div>
    </div><!-- FIN DE PRODUCTOS SIMILARES -->
  </div>
</div>