<div id="timeline">
  <div id="escribe-main">
    <ul id="opciones">
      <li>
        <i class="iconos">
          n
        </i>
        Comparte un mensaje
      </li>
      <li>
        <i class="iconos">
          j
        </i>
        Inicia una votación
      </li>
    </ul>
	<form action="?contenido=texto" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="escribe-input">
      <div class="avatar" style="background-image:url('/media/{{usuario.usuario.foto}}');">
      </div>
      <div class="input-append">
        {{ form.contenido }}
        <div id="losbotones">
          <input type="submit" value="Enviar" class="btn btn-small" />
          
          <button class="btn btn-small" type="button">
            <i class="iconos">
              s
            </i>
          </button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div id="cronologia">
    <div id="lineaTiempo">
    </div>
    <!-- INSERTAMOS UPDATES -->
    {% for contenido in joinity.actualizaciones.all|dictsortreversed:"id" %}
    	{% if contenido.tipo == 1 %}    
			{% include "single/updateTexto.html" %}
		{% elif contenido.tipo == 2 %}
			{% include "single/updateFoto.html" %}
		{% endif %}
		
	{% endfor %}
  </div>
</div>