<!-- ACTUALIZACIÓN: VOTACIÓN -->
<div class="actualizacion votacion">
  <div class="clasificacion">
    <div class="icono">
      <i class="iconos">
        u
      </i>
    </div>
    <div class="fecha etiqueta">
      12 jun
    </div>
  </div>
  <div class="continente">
    <div class="creditos">
      <div class="avatar" style="background-image:url('/media/images/ejemplos/avatar.png');">
      </div>
      <p class="smallTxt">
        <a href="">
          Fernando Guirao
        </a>
        ha hecho una pregunta:
      </p>
    </div>
    <!-- CONTENIDO ESPECÍFICO -->
    <div class="contenido">

      <div class="lapregunta etiqueta">
        "¿A qué hotel os gustaría ir?"
      </div>
      <div class="lasrespuestas">
        <!-- UNA RESPUESTA -->
        <div class="laRespuesta">
          <div class="elZoom">
            <i class="iconos">
              v
            </i>
          </div>
          <div class="imgRespuesta" style="background-image:url('/media/images/ejemplos/archivo01.png');">
          </div>
          <p>
            Hotel Puerta de América en Madrid.
          </p>
          <div class="numVotos">
            1544
            <i class="iconos">j</i>
          </div>
          <div class="progress">
            <div class="bar" style="width: 45%;">
            </div>
          </div>
        </div>
        <!-- FIN DE RESPUESTA -->
        <!-- UNA RESPUESTA -->
        <div class="laRespuesta">
          <div class="elZoom">
            <i class="iconos">
              v
            </i>
          </div>
          <div class="imgRespuesta" style="background-image:url('/media/images/ejemplos/archivo01.png');">
          </div>
          <p>
            AC New Hampshire.
          </p>
          <div class="numVotos">
            554
            <i class="iconos">j</i>
          </div>
          <div class="progress">
            <div class="bar" style="width: 25%;">
            </div>
          </div>
        </div>
        <!-- FIN DE RESPUESTA -->
        <!-- UNA RESPUESTA -->
        <div class="laRespuesta">
          <div class="elZoom">
            <i class="iconos">
              v
            </i>
          </div>
          <div class="imgRespuesta" style="background-image:url('/media/images/ejemplos/archivo01.png');">
          </div>
          <p>
            Hotel NH Krampolsky en Amsterdam.
          </p>
          <div class="numVotos">
            34
            <i class="iconos">j</i>
          </div>
          <div class="progress">
            <div class="bar" style="width: 85%;">
            </div>
          </div>
        </div>
        <!-- FIN DE RESPUESTA -->
      </div> <!-- FIN DE RESPUESTAS -->
    </div><!-- FIN CONTENIDO ESPECÍFICO -->
  </div>
</div>
<!-- FIN ACTUALIZACIÓN: VOTACIÓN-->