<!-- ACTUALIZACIÓN: FOTO -->
<div class="actualizacion foto">
  <div class="clasificacion">
    <div class="icono">
      <i class="iconos">
        s
      </i>
    </div>
    <div class="fecha etiqueta">
      12 jun
    </div>
  </div>
  <div class="continente">
    <div class="creditos">
      <div class="avatar" style="background-image:url('/media/{{contenido.foto.usuario.foto}}');">
      </div>
      <p class="smallTxt">
        <a href="">
          {{contenido.foto.usuario.first_name}} {{contenido.foto.usuario.last_name}}
        </a>
        ha subido una foto
      </p>
    </div>
    <div class="contenido">
      <!-- CONTENIDO ESPECÍFICO -->
        <div class="foto" style="background-image:url('/media/{{contenido.foto.contenido}}');">
        </div>
      <!-- FIN CONTENIDO ESPECÍFICO -->
      {% include "single/comentarios.html" %}
    </div>
  </div>
</div>
<!-- FIN ACTUALIZACIÓN: FOTO-->