<!-- ACTUALIZACIÓN: VÍDEO -->
<div class="actualizacion video">
  <div class="clasificacion">
    <div class="icono">
      <i class="iconos">
        w
      </i>
    </div>
    <div class="fecha etiqueta">
      12 jun
    </div>
  </div>
  <div class="continente">
    <div class="creditos">
      <div class="avatar" style="background-image:url('/media/images/ejemplos/avatar.png');">
      </div>
      <p class="smallTxt">
        <a href="">
          {{contenido.texto.usuario.first_name}} {{contenido.texto.usuario.last_name}}
        </a>
        ha subido un vídeo
      </p>
    </div>
    <div class="contenido">
      <!-- CONTENIDO ESPECÍFICO -->
        <div class="foto esVideo" style="background-image:url('/media/images/ejemplos/archivo02.png');">
                <a href="http://www.{{contenido.texto.contenido}}">Ver video</a>
        
        </div>
      <!-- FIN CONTENIDO ESPECÍFICO -->
      {% include "single/comentarios.html" %}
    </div>
  </div>
</div>
<!-- FIN ACTUALIZACIÓN: VÍDEO -->