<!-- ACTUALIZACIÓN: VOTACIÓN -->
<div class="actualizacion votacion">
  <div class="clasificacion">
    <div class="icono">
      <i class="iconos">
        u
      </i>
    </div>
    <div class="fecha etiqueta">
      {% load actualizaciones_filters %}
      
        {% if contenido.fecha|es_hoy %}
         {{contenido.fecha|date:'H:i'}}
        {% else %}
         {{contenido.fecha|date:'d/m/y'}}
        {% endif %}
    </div>
  </div>
  <div class="continente">
    <div class="creditos">
      <div class="avatar" style="background-image:url('/media/{{contenido.texto.usuario.usuario.foto}}');">
      </div>
      <p class="smallTxt">
        <a href="">
          {{contenido.get_contenido.usuario.first_name}} {{contenido.get_contenido.usuario.last_name}}
        </a>
        ha hecho una pregunta:
      </p>
    </div>
    <!-- CONTENIDO ESPECÍFICO -->
    <div class="contenido">

      <div class="lapregunta etiqueta">
        "{{contenido.get_contenido.pregunta}}"
      </div>
      <div class="lasrespuestas">
      {% for respuesta in contenido.get_contenido.respuestas.all %}
        <!-- UNA RESPUESTA -->
        <div class="laRespuesta" onclick="Dajaxice.joinitys.vota(postear, {'joinity_id':{{joinity.id}}, 'respuesta_id':{{respuesta.id}}}); ">
          <div class="elZoom">
            <i class="iconos">
              v
            </i>
          </div>
          <div class="imgRespuesta" style="background-image:url('/media/images/ejemplos/archivo01.png');">
          </div>
          <p>
            {{respuesta.respuesta}}
          </p>
          <div class="numVotos">
            {{respuesta.n_votos}}
            <i class="iconos">j</i>
          </div>
          <div class="progress">
            <div class="bar" style="width: {{respuesta.porcentaje}}%;">
            </div>
          </div>
        </div>
        <!-- FIN DE RESPUESTA -->
        {% endfor %}
      </div> <!-- FIN DE RESPUESTAS -->
    </div><!-- FIN CONTENIDO ESPECÍFICO -->
  </div>
</div>
<!-- FIN ACTUALIZACIÓN: VOTACIÓN-->