<h6>
      Ref. compra núm. {{pago.id}}
    </h6>
    <h4>
      <i>
        Concepto:
      </i>
      {{pago.concepto}}
    </h4>
    <p>
      {{pago.descripcion}}
    </p>
    
    <table class="table table-striped">
      <tr>
      
        <th>Producto</th>
        <th class="pequena">Descuento</th>
        <th>Precio</th>
      </tr>
      
      <tr>
        <td><p>{{pago.producto}}</p></td>
        <td></td>
        <td>{{pago.get_precio}}</td>
      </tr>
      
      <tr>
      <!-- <tr>
        <td><p>Gastos de envío</p></td>
        <td></td>
        <td>0 €</td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <th></th>
        <th>{{pago.get_precio}} €</th>
      </tr>
      <tr>
        <th>IVA (21%)</th>
        <th></th>
        <th>267,75 €</th>
      </tr>
      -->
      <tr class="apagar">
        <th>Total</th>
        <th></th>
        <th>{{pago.get_precio}} €</th>
      </tr>
      
    </table>
    
    <div class="condiciones">
      <p>
        Antes de continuar, por favor lee y acepta nuestro <a href="">contrato de servicios</a>.
      </p>
      <div class="extras">
        <label class="checkbox login-recuerda" for="checkbox1">
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          He leído y acepto los términos de los contratos
        </label>
      </div>
    </div>
    <div class="btn btn-big btn-block btn-embossed">
    {{form}}
    </div>
    <a href="/joinity/{{pago.joinity.id}}/pago/{{pago.id}}/cancelar/">
    <div class="btn btn-mini amarillo">
      O bien, eliminar si no te interesa
    </div>
    </a>