<h6>
      Ref. compra núm. {{pago.id}}
    </h6>
    <h4>
      <i>
        Concepto:
      </i>
      {{pago.concepto}}
    </h4>
    <p>
      {{pago.descripcion}}
    </p>
    
    <table class="table table-striped">
      <tr>
      
        <th>Producto</th>
        <th class="pequena">Descuento</th>
        <th>Precio</th>
      </tr>
      
      <tr>
        <td><p>{{pago.producto}}</p></td>
        <td>{{pago.get_descuento}}%</td>
        <td>{{pago.joinity.precio|floatformat}} €</td>
      </tr>
      
      <tr>
      <tr>
        <td><p>Gastos de envío</p></td>
        <td></td>
        <td>{{pago.joinity.compras.envio|floatformat}} €</td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <th></th>
        <th>{{pago.get_subtotal|floatformat}} €</th>
      </tr>
      <tr>
        <th>IVA ({{pago.joinity.compras.iva}}%)</th>
        <th></th>
        <th>{{pago.get_iva}} €</th>
      </tr>
      <tr class="apagar">
        <th>Total</th>
        <th></th>
        <th>{{pago.get_precio_total|floatformat}} €</th>
      </tr>
      
    </table>
    
    <div class="condiciones">
      <p>
        Antes de continuar, por favor lee y acepta nuestro <a href="">contrato de servicios</a>.
      </p>
      <div class="extras">
        <label class="checkbox login-recuerda" for="checkbox1">
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          He leído y acepto los términos de los contratos
        </label>
      </div>
    </div>
    <a href="#modalPagar" data-toggle="modal" class="btn btn-big btn-block btn-embossed">
      Pagar ahora
    </a>
    
    <!-- MODAL PAGAR -->
    <div id="modalPagar" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="modal-body">
        <div id="form-modal">
          <h4>
            Formalización del pago
          </h4>
          <hr>
          <label>Haz click en el botón de paypal para formalizar el pago por valor de <b>{{pago.get_precio_total|floatformat}} €</b> en concepto de <b>{{pago.concepto}}</b></label>
          <div class="contienePaypal">
            {{form}}
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE MODAL -->
    <a href="/joinity/{{pago.joinity.id}}/pago/{{pago.id}}/cancelar/">
    <div class="btn btn-mini amarillo">
      O bien, eliminar si no te interesa
    </div>
    </a>