<div class="container contenedor-array fcompras">
  <div class="contenedor-categoria">
    <div class="la-categoria aficat">
      <i class="iconos">
        7
      </i>
      Aficiones
    </div>
    <div class="la-categoria activa compracat">
      <i class="iconos">
        3
      </i>
      Compras
    </div>
    <div class="la-categoria famcat">
      <i class="iconos">
        5
      </i>
      Fam. & friends
    </div>
  </div>
  <div class="contenedor-elarray">
    <div class="contenedor-filtro">
      <div class="container">
        <div class="filtros activo">
          <i class="iconos">
            i
          </i>
          Más recientes
        </div>
        <div class="filtros">
          <i class="iconos otro2">
            j
          </i>
          Mejores ofertas
        </div>
        <div class="filtros">
          <i class="iconos">
            c
          </i>
          Para mí
        </div>
        <div class="filtros">
          <i class="iconos otros">
            0
          </i>
          Más
        </div>
      </div>
    </div>
    <div class="contenedor-los-joinitys">
      {% for compra in lista_compras|slice:":8" %}
    <a href="/joinity/{{compra.id}}">
      <!-- CADA JOINITY -->
      <div class="los-joinity">
        {% for foto in compra.fotos.all|slice:":1" %}
        	<div class="foto-join" style="background-image:url('/media/{{foto.foto}}');">
        	</div>
        {% endfor %}
        <div class="info-caja">
          <h6>
            {{compra.nombre}}
          </h6>
          <p>
            {% for lugar in compra.lugares.all|slice:":1" %}
          		En {{lugar.lugar}}, por {{compra.precio}} €
          	{% endfor %}
          </p>
        </div>
        <!-- HOVER -->
        <div class="rueda img-circle">
          <div class="donutchartcompras" data-percent="50"></div>
          <div class="numjoine">
            <span>
              {{compra.n_min}}/{{compra.n_max}}
            </span>
            joiners
          </div>
        </div>
        <div class="lafecha">
          {{compra.compras.fecha_inicio|date:"d"}}
          <span>
             {{compra.compras.fecha_inicio|date:"m"}}
          </span>
        </div>
        <div class="valor06">
          {% for i in cinco  %}
         	{% if i <= compra.puntuacion_media %}
         	<i class="iconos punto">j</i>
         {% else %}
         	<i class="iconos">j</i>
         {% endif %}
         {% endfor %}
        </div>
        <!-- FIN DE HOVER -->
      </div>
      <!-- FIN DE CADA JOINITY -->
      </a>
      {% endfor %}
    </div>
    <div class="los-join-footer">
      <div class=linea-puntos>
      </div>
      <a href="" class="btn amarillo btn-embossed">
        Quiero ver más
      </a>
    </div>
  </div>
</div>