<div class="container contenedor-array fcompras">
  <div class="contenedor-categoria">
    <div class="la-categoria aficat">
      <i class="iconos">
        7
      </i>
      Aficiones
    </div>
    <div class="la-categoria activa compracat">
      <i class="iconos">
        3
      </i>
      Compras
    </div>
    <div class="la-categoria famcat">
      <i class="iconos">
        5
      </i>
      Fam. & friends
    </div>
  </div>
  <div class="contenedor-elarray">
    <div class="contenedor-filtro">
      <div class="container">
        <div class="filtros activo" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':2, 'order':1})">
          <i class="iconos">
            i
          </i>
          Más recientes
        </div>
        <div class="filtros" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':2, 'order':2})">
          <i class="iconos otro2">
            j
          </i>
          Mejores ofertas
        </div>
         {% if usuario %}
        <div class="filtros" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':2, 'order':3})">
          <i class="iconos">
            c
          </i>
          Para mí
        </div>
        {% else %}
        <a class="filtros beta-reg" href="#modalInicio" data-toggle="modal" >
          <i class="iconos">
            c
          </i>
          Para mí
        </a>
        {% endif %}
        <!--
<div class="filtros">
          <i class="iconos otros">
            0
          </i>
          Más
        </div>
-->
      </div>
    </div>
    <div class="contenedor-los-joinitys">
          <script type="text/javascript">var n_compras=0; var order_compras=1</script>
    
      {% for compra in lista_compras|slice:":8" %}
          	<script type="text/javascript">n_compras++</script>
      
     {% if usuario %} 
    	<a href="/joinity/{{compra.id}}">
    {% else %}
    	<a href="#modalInicio" class="beta-reg" data-toggle="modal">
    {% endif %}
      <!-- CADA JOINITY -->
      <div class="los-joinity">
        	<div class="foto-join" style="background-image:url('/media/{{compra.foto}}');">
        	</div>
        <div class="info-caja">
          <h6>
            {{compra.nombre}}
          </h6>
          <p>
            {% for lugar in compra.lugares.all|slice:":1" %}
          		En {{lugar.lugar}}, 
          	{% endfor %}
          	por {{compra.precio|floatformat}} €
          </p>
        </div>
        <!-- HOVER -->
        <div class="datos-hover">
          <div class="rueda img-circle">
            <div class="donutchartcompras" data-percent="{{compra.get_porcentaje}}"></div>
            <div class="numjoine">
              <span>
                {{compra.n_joiners}}/{{compra.n_max}}
              </span>
              joiners
            </div>
          </div>
          <div class="lafecha">
            {{compra.compras.fecha_inicio|date:"d"}}
            <span>
               {{compra.compras.fecha_inicio|date:"M"}}
            </span>
          </div>
          <div class="valor06">
            {% for i in cinco  %}
           	{% if i <= compra.puntuacion_media %}
           	<i class="iconos punto">j</i>
           {% else %}
           	<i class="iconos">j</i>
           {% endif %}
           {% endfor %}
          </div>
        </div>
        <!-- FIN DE HOVER -->
      </div>
      <!-- FIN DE CADA JOINITY -->
      </a>
      {% endfor %}
    </div>
    <div class="los-join-footer">
      <div class=linea-puntos>
      </div>
           <button onclick="cargador(this); Dajaxice.joinitys.cargar_mas(cargar_mas, {'categoria':2, 'n':n_compras, 'order':order_compras});" class="btn amarillo btn-embossed">Quiero ver más</button>

    </div>
  </div>
</div>