<div class="container contenedor-array faficiones">
  <div class="contenedor-categoria">
    <div class="la-categoria activa aficat">
      <i class="iconos">
        7
      </i>
      Aficiones
    </div>
    <div class="la-categoria compracat">
      <i class="iconos">
        3
      </i>
      Compras
    </div>
    <div class="la-categoria famcat">
      <i class="iconos">
        5
      </i>
      Fam. & friends
    </div>
  </div>
  <div class="contenedor-elarray">
    <div class="contenedor-filtro">
      <div class="container">
<!--         <div class="filtros activo" onclick="Dajaxice.joinitys.filtrar(filtrar, {'categoria':3, 'order':1},filtrar(this));"> -->
        <div class="filtros activo" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':3, 'order':1})">

          <i class="iconos">
            i
          </i>
          Más recientes
        </div>
        <div class="filtros" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':3, 'order':2})">
          <i class="iconos otro2">
            j
          </i>
          Mejores ofertas
        </div>
        {% if usuario %}
        <div class="filtros" onclick="identificador=this; cargarfiltro(); Dajaxice.joinitys.filtrar(filtrar,{'categoria':3, 'order':3})">
          <i class="iconos">
            c
          </i>
          Para mí
        </div>
        {% else %}
        <a class="filtros beta-reg" href="#modalInicio" data-toggle="modal" >
          <i class="iconos">
            c
          </i>
          Para mí
        </a>
        {% endif %}
        <!--
<div class="filtros">
          <i class="iconos otros">
            0
          </i>
          Más
        </div>
-->
      </div>
    </div>
    <div class="contenedor-los-joinitys">
      <script type="text/javascript">var n=0; var order=1</script>
    	{% for aficion in lista_aficiones|slice:":8" %}
    	<script type="text/javascript">n++</script>
      <!-- CADA JOINITY -->
      {% if usuario %}
      <a class="los-joinity" href="/joinity/{{aficion.id}}">
      {% else %}
      <a class="los-joinity beta-reg" href="#modalInicio" data-toggle="modal">
      {% endif %}
        <div class="foto-join" style="background-image:url('/media/{{aficion.foto}}');">
        </div>
        <div class="info-caja">
          <h6>
            {{aficion.nombre}}
          </h6>
          <p>
          {% for lugar in aficion.lugares.all|slice:":1" %}
          	En {{lugar.lugar}},
          {% endfor %}
           por {{aficion.precio|floatformat}} €
          </p>
        </div>
        <!-- HOVER -->
        <div class="datos-hover">
          <div class="rueda img-circle">
            <div class="donutchart" data-percent="{{aficion.get_porcentaje}}"></div>
            <div class="numjoine">
              <span>
                {{aficion.n_joiners}}/{{aficion.n_max}}
              </span>
              joiners
            </div>
          </div>
          <div class="lafecha">
            {{aficion.aficiones.fecha_inicio|date:"d"}}
            <span>
               {{aficion.aficiones.fecha_inicio|date:"M"}}
            </span>
          </div>
          <div class="valor06">
          {% for i in cinco  %}
          	{% if i <= aficion.puntuacion_media %}
          		<i class="iconos punto">j</i>
           	{% else %}
           		<i class="iconos">j</i>
           	{% endif %}
          {% endfor %}
          </div>
        <!-- FIN DE HOVER -->
        </div>
      </a>
      <!-- FIN DE CADA JOINITY -->
  	{% endfor %}
    </div>
    <div class="los-join-footer">
      <div class=linea-puntos>
      </div>
      
      <button onclick="cargador(this); Dajaxice.joinitys.cargar_mas(cargar_mas, {'categoria':3, 'n':n, 'order':order});" class="btn amarillo btn-embossed">Quiero ver más</button>
    </div>
  </div>
</div>