<div class="container contenedor-array fandfriends">
  <div class="contenedor-categoria">
    <div class="la-categoria aficat">
      <i class="iconos">
        7
      </i>
      Aficiones
    </div>
    <div class="la-categoria compracat">
      <i class="iconos">
        3
      </i>
      Compras
    </div>
    <div class="la-categoria activa famcat">
      <i class="iconos">
        5
      </i>
      Fam. & friends
    </div>
  </div>
  <div class="contenedor-elarray">
    <div class="contenedor-filtro">
      <div class="container">
        <div class="filtros activo">
          <i class="iconos">
            i
          </i>
          Más recientes
        </div>
        <div class="filtros">
          <i class="iconos otro2">
            j
          </i>
          Mejores ofertas
        </div>
        <div class="filtros">
          <i class="iconos">
            c
          </i>
          Para mí
        </div>
        <div class="filtros">
          <i class="iconos otros">
            0
          </i>
          Más
        </div>
      </div>
    </div>
    <div class="contenedor-los-joinitys">
      {% for family in lista_family|slice:":8" %}
    
      <!-- CADA JOINITY -->
      {% if usuario %}
      <a href="/joinity/{{family.id}}">
      {% else %}
      <a href="" class="beta-reg">
      {% endif %}
      
      <div class="los-joinity">
        {% for foto in family.fotos.all|slice:":1" %}
        	<div class="foto-join" style="background-image:url('/media/{{foto.foto}}');">
        	</div>
        {% endfor %}
        <div class="info-caja">
          <h6>
            {{family.nombre}}
          </h6>
          <p>
             {% for lugar in family.lugares.all|slice:":1" %}
          		En {{lugar.lugar}}, por {{family.precio}} €
          	{% endfor %}
          </p>
        </div>
        <!-- HOVER -->
        <div class="rueda img-circle">
          <div class="donutchartfandfriends" data-percent="{{family.get_porcentaje}}"></div>
          <div class="numjoine">
            <span>
              {{family.n_joiners}}/{{family.n_max}}
            </span>
            joiners
          </div>
        </div>
        <div class="lafecha">
          {{family.family.fecha_inicio|date:"d"}}
          <span>
            {{family.family.fecha_inicio|date:"m"}}
          </span>
        </div>
        <div class="valor06">
          {% for i in cinco  %}
         {% if i <= family.puntuacion_media %}
         	<i class="iconos punto">j</i>
         {% else %}
         	<i class="iconos">j</i>
         {% endif %}
         {% endfor %}
        </div>
        <!-- FIN DE HOVER -->
      </div>
      <!-- FIN DE CADA JOINITY -->
      </a>
     {% endfor %}
    </div>
    <div class="los-join-footer">
      <div class=linea-puntos>
      </div>
      {% if usuario %}
      <a href="" class="btn amarillo btn-embossed">
      {% else %}
      <a href="" class="btn amarillo btn-embossed beta-reg">
      {% endif %}
        Quiero ver más
      </a>
    </div>
  </div>
</div>