<section class="block">
    <div id="myCarousel" class="carousel slide">

      <!-- CAROUSEL THUMBS -->
      	<div class="carousel-indicators">
      		<a class="boton_carousel active" href="#myCarousel" data-slide-to="0">
      			<div class="boton_slide img-circle" style="background:#3a739c;">
      			</div>
      		</a>
      		<a class="boton_carousel " href="#myCarousel" data-slide-to="1">
      			<div class="boton_slide img-circle" style="background:#3a739c;">
      			</div>
      		</a>
      		<a class="boton_carousel" href="#myCarousel" data-slide-to="2">
      			<div class="boton_slide img-circle" style="background:#3a739c;">
      			</div>
      		</a>
      	</div>
      <!-- FIN THUMBS CAROUSEL -->

        <div class="carousel-inner">
        {% for joinity in VIP %}
            <div class=" {% if forloop.first %}active{%endif%} item">
                <div class="slide-info">
                  <div class="centrador">
                    <h1>
                      {{joinity.joinity.nombre}}
                    </h1>
                    <div class="sub-info">
                      <p>
                        Desde <i class="iconos">l</i>Madrid
                      </p>
                      <p>
                        Dentro de <i class="iconos">q</i>2 semanas
                      </p>
                      <p>
                        Por <i class="iconos">j</i>{{joinity.joinity.precion}} euros
                      </p>
                    </div>
                    <div class="slide-foot">
                      <div class="linea">
                      </div>
                      <a class="btn" href="/joinity/{{joinity.joinity.id}}">
                          Suena bien. Quiero verlo.
                      </a>
                    </div>
                  </div>
                </div>
                {% for foto in joinity.joinity.fotos.all|slice:":1"%}
                <img src="/media/{{foto.foto}}" alt="Slide{{forloop.counter}}" style="top:-254px;" />
                {% empty %}
                <img src="/media/images/ejemplos/escocia.png" alt="Slide{{forloop.counter}}" style="top:-254px;" />
                {% endfor %}
            </div>
            {% endfor %}
            <!--
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"><<</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">>></a>
-->



    </div>
</section>