<footer>
  <div class="container">
    <div class="columna01">
      <div class="iconos logoimagen ">
        K
      </div>
      <div class="iconos logotexto">
        J
      </div>
    </div>
    <div class="columna02">
      <a href="">Síguenos en Facebook</a>
      <p>
        Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
    </div>
    <div class="columna03">
      <a href="">Síguenos en Twitter</a>
      <p>
        Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
    </div>
    <div class="columna04">
      <a href="">¿Tienes algún problema?</a>
      <p>
        Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
    </div>
    <div class="links">
      @2013, JOINITY · <a href="">ABOUT</a>  · <a href="">PRIVACY</a> · <a href="">TOS</a> · <a href="">FAQ</a> · <a href="">JOBS</a> · <a href="">BLOG</a>
    </div>
  </div>
</footer>