    <!-- MODAL INICIO/BETA -->
    <div id="modalInicio" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="modal-body log-reg">
       <!-- Contenidos modal -->
        <a href="" class="btn btn-mini">Solicita una invitación</a>
        <a href="" class="btn oscuro btn-mini">Inicia sesión</a>
       <!-- Fin de contenidos modal -->
      </div>
    </div>
    <!-- FIN MODAL INICIO/BETA -->