<div class="container barrad">
  <div id="seleccionador">
    <p class="pregunta">
      ¿Qué te apetece?
    </p>
    <p>
      Quiero
    </p>
    <form action="/joinity/filtrar/" method="GET">
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3 primerselect">
        <option value="0" selected="selected">Comprar</option>
        <option value="1">Practicar una afición</option>
        <option value="2">Realizar una reserva</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <!-- CONJUNTO SELECTORES -->
    <div class="selectoresgrupo">
      <!-- SI ES COMPRAR -->
      <div class="selector comprar">
      <p>
        un producto
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
        <select name="comprar2" value="X-Men" class="span3">
          <option value="1" selected="selected">tecnológico</option>
          <option value="2">deportivo</option>
          <option value="3">decorativo</option>
        </select>
      </div>
      <!-- FIN DE SELECT -->
      <p>
        por
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
        <select name="comprar3" value="X-Men" class="span3">
          <option value="0" selected="selected">200 o menos</option>
          <option value="1">200-400</option>
          <option value="2">400-1000 </option>
          <option value="3">Más de 1000</option>
        </select>
      </div>
      <!-- FIN DE SELECT -->
      {% if usuario %}
      	<input type="submit" class="btn btn-small amarillo adelante" value="Adelante">
     	{% else %}
        <a href="#modalInicio" class="btn btn-small amarillo adelante beta-reg" data-toggle="modal">
          Adelante
        </a>
        {% endif %}
       </div><!-- FIN DE COMPRAR -->
      <!-- SI ES UNA AFICIÓN -->
      <div class="selector aficion">
      <p>
        del tipo
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
        <select name="aficion2" value="X-Men" class="span3">
          <option value="0" selected="selected">deportes</option>
          <option value="1">juegos</option>
          <option value="2">viajes</option>
          <option value="3">fiestas</option>
        </select>
      </div>
      <!-- FIN DE SELECT -->
      <p>
        en
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
        <input type="text" placeholder="tu ciudad" class="inputNormal input-small input-lugar" name="aficion3" id="id_lugar" >
      </div>
      <!-- FIN DE SELECT -->
  	{% if usuario %}
      	<input type="submit" class="btn btn-small amarillo adelante" value="Adelante">
     	{% else %}
        <a href="#modalInicio" class="btn btn-small amarillo adelante beta-reg" data-toggle="modal">
          Adelante
        </a>
        {% endif %}
      </div><!-- FIN DE AFICIONES -->
      <!-- SI ES UNA RESERVA -->
      <div class="selector reserva">
      <p>
        en
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
        <select name="reserva2" value="X-Men" class="span3">
          <option value="0" selected="selected">un hotel</option>
          <option value="1">un restaurante</option>
        </select>
      </div>
      <!-- FIN DE SELECT -->
      <p>
        en
      </p>
      <!-- CAMPO SELECT -->
      <div class="campo">
      </div>
        <!-- FIN DE SELECT -->
        {% if usuario %}
        <input type="submit" class="btn btn-small amarillo adelante" value="Adelante">
        {% else %}
        <a href="#modalInicio" class="btn btn-small amarillo adelante beta-reg" data-toggle="modal">
          Adelante
        </a>
        {% endif %}
       </div><!-- FIN DE RESERVAS -->
      </div><!-- Fin selector grupo -->
    </form>
  </div>
</div>