<div class="container barrad">
  <div id="seleccionador">
    <p class="pregunta">
      ¿Qué te apetece hacer?
    </p>
    <p>
      Quiero
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3 primerselect">
        <option value="0" selected="selected">Comprar</option>
        <option value="1">Practicar una afición</option>
        <option value="2">Realizar una reserva</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <!-- SI ES COMPRAR -->
    <div class="selector comprar">
    <p>
      un producto
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3">
        <option value="0" selected="selected">tecnológico</option>
        <option value="1">deportivo</option>
        <option value="2">decorativo</option>
        <option value="3">extraño</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <p>
      por
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3">
        <option value="0" selected="selected">200 o menos</option>
        <option value="1">200-400</option>
        <option value="2">400-1000 </option>
        <option value="3">Más de 1000</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <a class="btn btn-small amarillo adelante" href="">Adelante</a>
    </div><!-- FIN DE COMPRAR -->
    <!-- SI ES UNA AFICIÓN -->
    <div class="selector aficion">
    <p>
      del tipo
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3">
        <option value="0" selected="selected">deportes</option>
        <option value="1">juegos</option>
        <option value="2">viajes</option>
        <option value="3">fiestas</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <p>
      en
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <input type="text" placeholder="tu ciudad" class="inputNormal input-small">
    </div>
    <!-- FIN DE SELECT -->
    <a class="btn btn-small amarillo adelante" href="">Adelante</a>
    </div><!-- FIN DE AFICIONES -->
    <!-- SI ES UNA RESERVA -->
    <div class="selector reserva">
    <p>
      en
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <select name="herolist" value="X-Men" class="span3">
        <option value="0" selected="selected">un hotel</option>
        <option value="1">un restaurante</option>
      </select>
    </div>
    <!-- FIN DE SELECT -->
    <p>
      en
    </p>
    <!-- CAMPO SELECT -->
    <div class="campo">
      <input type="text" placeholder="tu ciudad" class="inputNormal input-small">
    </div>
    <!-- FIN DE SELECT -->
    <a class="btn btn-small amarillo adelante" href="">Adelante</a>
    </div><!-- FIN DE RESERVAS -->
  </div>
</div>