<div id="buscador-principal">
  <div class="control-group huge">
    <div class="input-append buscaform">
      <input id="appendedInputButton-01" class="span2" type="text" placeholder="Busca amigos, productos, lugares, aficiones...">
      <input id="" class="span2 busc-peq inputNormal" type="text" placeholder="Sigue buscando...">
      <button class="btn btn-embossed buscarbtn" type="button" onclick="Dajaxice.buscador.buscador(busqueda, {'s':$('#appendedInputButton-01').val()});">
          Buscar
      </button>
    </div>

    <!-------------------------------->
    <!--! EMPIEZAN LOS RESULTADOS  -->
    <!-------------------------------->

    <div id="contenedor-resultados">

      <!-- FILTROS -->
      <div id="filtros">
        <h3>Filtros</h3>
        <ul class="nav nav-tabs tab-vertical" id="tabFiltro">
          <li class="active">
            <a href="#res-joinitys">
              Joinitys
            </a>
          </li>
          <li>
            <a href="#res-usuarios">
              Usuarios
            </a>
          </li>
          <li>
            <a href="#res-eventos">
              Eventos
            </a>
          </li>
          <li>
            <a href="#res-aficiones">
              Aficiones
            </a>
          </li>
          <li>
            <a href="#res-lugares">
              Lugares
            </a>
          </li>
        </ul>
      </div><!-- FIN DE FILTROS -->

      <!-- RESULTADOS -->
      <div id="resultados">
        <h3>Resultados</h3>
        <div class="tab-content">

          <!-- SI EL RESULTADO SON JOINITYS -->
          <div class="tab-pane active" id="res-joinitys">
            <a href="usuario/1">
              <div class="imag-res" style="background-image:url('/media/avatars/2012-05-27_17.07.18.jpg')">
              </div>
              <div class="resto-res">
                <h4>
                  Título de este joinity
                </h4>
                <p>
                  <i class="iconos primero">
                    d
                  </i>
                  En Valencia, por
                  <i class="iconos">
                    h
                  </i>
                  500 euros
                </p>
                <p>
                  <i class="iconos primero">
                    5
                  </i>
                  35 joiners 
                  <i class="iconos">
                    q
                  </i>
                  Empieza el 25/07/2013
                </p>
              </div>
            </a>
          </div><!--  Fin de joinitys -->

          <!-- SI EL RESULTADO SON USUARIOS -->
          <div class="tab-pane" id="res-usuarios">
            <a href="usuario/1">
              <div class="imag-res" style="background-image:url('/media/avatars/2012-05-27_17.07.18.jpg')">
              </div>
              <div class="resto-res">
                <h4>
                  Nombre de este usuario
                </h4>
                <p>
                  En Joinity desde el 24/05/2004
                </p>
                <p>
                  Participa en 14 joinitys
                </p>
              </div>
            </a>
          </div> <!-- Fin de usuarios -->

          <!-- SI EL RESULTADO SON EVENTOS -->
          <div class="tab-pane" id="res-eventos">
            <a href="usuario/1">
              <div class="imag-res" style="background-image:url('/media/avatars/2012-05-27_17.07.18.jpg')">
              </div>
              <div class="resto-res">
                <h4>
                  Título de este evento
                </h4>
                <p>
                  <i class="iconos primero">
                    d
                  </i>
                  En Valencia
                </p>
                <p>
                  <i class="iconos primero">
                    5
                  </i>
                  35 joiners 
                  <i class="iconos">
                    q
                  </i>
                  Empieza el 25/07/2013
                </p>
              </div>
            </a>
          </div> <!-- Fin de eventos -->

          <!-- SI EL RESULTADO SON AFICIONES -->
          <div class="tab-pane" id="res-aficiones">
            <a href="usuario/1">
              <div class="imag-res" style="background-image:url('/media/avatars/2012-05-27_17.07.18.jpg')">
              </div>
              <div class="resto-res">
                <h4>
                  Nombre de esta afición
                </h4>
                <p>
                  Hay 500 joinitys para esta afición
                </p>
                <p>
                  Les gusta a 4000 joiners
                </p>
              </div>
            </a>
          </div><!--  Fin de aficiones -->

          <!-- SI EL RESULTADO SON LUGARES -->
          <div class="tab-pane" id="res-lugares">
            <a href="usuario/1">
              <div class="imag-res" style="background-image:url('/media/avatars/2012-05-27_17.07.18.jpg')">
              </div>
              <div class="resto-res">
                <h4>
                  Nombre de este lugar
                </h4>
                <p>
                  Hay 500 joinitys en este lugar
                </p>
                <p>
                  Hay 400 joiners aquí
                </p>
              </div>
            </a>
          </div><!-- Fin de lugares -->

        </div>
      </div><!-- Fin lista de resultados -->
    </div>

    <!------------------------------------->
    <!--! FIN CONTENEDOR DE RESULTADOS  -->
    <!------------------------------------->

  </div>
</div>