<!DOCTYPE html>
{% load dajaxice_templatetags %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>
      {% if pagina == "misTareas" %}
      Tareas | 
      
      {% elif pagina == "misEventos" %}
      Eventos | 
      
      {% elif pagina == "misCompras" %}
      Mis compras | 
      
      {% elif pagina == "misMensajes" %}
      Mensajes | 
      
      {% elif pagina == "home" %}
      
      {% elif pagina == "joinity" %}
      
      {% if joinity.get_tipo == "family" %}
      Family & friends | 
      
      {% elif joinity.get_tipo == "aficiones" %}
      Aficiones | 
      
      {% elif joinity.get_tipo == "compras" %}
      Compras | 
      
      {% endif %}
      
      {% elif pagina == "crear" %}
      
      {% if joinity.get_tipo == "family" %}
      Family & friends
      
      {% elif joinity.get_tipo == "aficiones" %}
      Aficiones
      
      {% elif joinity.get_tipo == "compras" %}
      Compras
      
      {% endif %}
      {% else %}
      
      {% endif %}
      
      Joinity™ {% block titulo %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />

    <!-- Fuentes -->
    <link href="/static/css/fonts/signika/signika.css" rel="stylesheet">
    <link href="/static/css/fonts/joinity/joinity.css" rel="stylesheet">

    <!-- Cargando Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.css" rel="stylesheet">

    <!-- Cargando Joinity UI -->
    <!-- Estilos de colores -->
    {% if pagina == "crear" and joinity.get_tipo == "family" or pagina == "misEventos" or pagina == "joinity" and joinity.get_tipo == "family" %}
      
    <link rel="stylesheet/less" type="text/css" href="/static/css/general-verde.less" />
    <link rel="stylesheet/less" type="text/css" href="/static/css/general-adaptativo-verde.less" />
    
    {% elif pagina == "crear" and joinity.get_tipo == "compras" or pagina == "misCompras" or pagina == "joinity" and joinity.get_tipo == "compras" or pagina == "misTareas" %}
    
    <link rel="stylesheet/less" type="text/css" href="/static/css/general-rojo.less" />
    <link rel="stylesheet/less" type="text/css" href="/static/css/general-adaptativo-rojo.less" />
    
    {% else %}
    
    <link rel="stylesheet/less" type="text/css" href="/static/css/general.less" />
    <link rel="stylesheet/less" type="text/css" href="/static/css/general-adaptativo.less" />
    
    {% endif %}

    
    <!-- Less -->
    <script src="/static/js/less.js" type="text/javascript">
    </script>

    <!-- Iconos -->
    <link rel="shortcut icon" href="/media/images/favicon32.ico">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    {% dajaxice_js_import %}
  </head>
  <body id="{{ pagina }}">
    <div class="ocultarcargador">
      <div id="fadingBarsG">
        <div id="fadingBarsG_1" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_2" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_3" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_4" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_5" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_6" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_7" class="fadingBarsG">
        </div>
        <div id="fadingBarsG_8" class="fadingBarsG">
        </div>
      </div>
    </div>