<div class="iconbar">
  <ul>
    <li {% if pagina == "index" %} class="activo" {% endif %}>
      <a href="/">
        <i class="iconos">
          c
        </i>
        <span class="detalle">
          Novedades
        </span>
      </a>
    </li>
    <li class="{% if pagina == 'misJoinitys' %} activo {% endif %}{% if usuario.usuario.get_tiene_joinitys_nuevos %} newNot {% endif %}">
      <a href="/mis_joinitys/">
        <i class="iconos">
          d
        </i>
        <span class="detalle">
          Mis joinitys
        </span>
      </a>
    </li>
    <li class="{% if pagina == 'misTareas' %} activo {% endif %}{% if usuario.usuario.get_tiene_tareas_nuevas %} newNot {% endif %}">
    <a href="/mis_tareas/">
      <i class="iconos">
        e
      </i>
      <span class="detalle">
        Mis tareas
      </span>
    </a>
    </li>
    <li class=" {% if pagina == 'misCompras' %} activo {% endif %}{% if usuario.usuario.get_tiene_pagos_nuevos %} newNot {% endif %}">
      <a href="/mis_compras">
        <i class="iconos">
          f
        </i>
        <span class="detalle">
          Mis compras
        </span>
      </a>
    </li>
    <li class="{% if pagina == 'misMensajes' %} activo {% endif %}{% if usuario.usuario.get_tiene_mensajes_nuevos %} newNot {% endif %}">
      <a href="/mensaje/inbox">
        <i class="iconos">
          g
        </i>
<!--
        <span class="iconbar-unread">
          1
        </span>
-->
        <span class="detalle">
          Mensajes
        </span>
      </a>
    </li>
    <li class="{% if pagina == 'misEventos' %}activo{% endif %}{% if usuario.usuario.get_tiene_eventos_nuevos %} newNot {% endif %}">
      <a href="/mis_eventos/">
        <i class="iconos fl">
          
        </i>
        <span class="detalle">
          Mis eventos {% if usuario.usuario.get_tiene_mensajes_nuevos %} newNot {% endif %}
        </span>
      </a>
    </li>
    {% if usuario.usuario.soy_brand %}
    <li class="{% if pagina == 'misReservas' %} activo {% endif %}{% if usuario.usuario.get_tiene_reservas_nuevas %} newNot {% endif %}">
      <a href="/mis_reservas/">
        <i class="iconos fl">
          
        </i>
        <span class="detalle">
          Mis reservas
        </span>
      </a>
    </li>
    {% endif %}
  </ul>
</div> <!-- /iconbar -->