<div class="barraTop">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="nav-centrador">
        <div class="container">
<!--
          SI ADAPTATIVO
          <button type="button" class="btn btn-navbar abreOculto">
          </button>
-->
          <a href="#fakelink" class="brand logoIcon">J</a>
          <div class="" id="">
            <ul class="nav pull-right">
                <!-- SI ADAPTATIVO -->
                <!-- <ul class="nav pull-right hidden-phone"> -->
              <li>
                <a href="#modalInicio" class="btn btn-small amarillo degradado btn-embossed" data-toggle="modal">
                  Solicita una invitación
                </a>
              </li>
              <li>
                <a href="/login/" class="btn btn-small rojo degradado btn-embossed">
                  Inicia sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>