<div class="barraTop">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="nav-centrador">
        <div class="container">
<!--
          SI ADAPTATIVO
          <button type="button" class="btn btn-navbar abreOculto">
          </button>
-->
          <a href="#fakelink" class="brand logoIcon">J</a>
          <div class="" id="">
            <ul class="nav pull-right">
                <!-- SI ADAPTATIVO -->
                <!-- <ul class="nav pull-right hidden-phone"> -->
              <li>
                <a href="/joinity/nuevo_joinity/" class="btn btn-small rojo degradado btn-embossed">
                  Crea un joinity
                </a>
              </li>
              <li class="dropdown notificar">
                <div class="iconos notificaciones no-notif" data-toggle="dropdown">
                  <div class="notificacion">
                    <span class="img-rounded">
                      1
                    </span>
                  </div>
                  <div class="alarma">
                    k
                  </div>
                </div>
                <!-- SUBMENÚ NOTIFICACIONES-->
                <ul class="dropdown-menu" role="menu">
                  <li class="notifTitulo">
                    Notificaciones
                  </li>
                  <li>
                    <a href="#fakelink">
                      Fernando Guirao te ha invitado a un evento
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                  <li class="noLeido">
                    <a href="#fakelink">
                      Tienes tres tareas nuevas
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="#fakelink">
                      Esta es una notificación en dos líneas para comprobar cómo queda cuando hay dos líneas
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                </ul>
                <!-- FIN DE SUBMENÚ NOTIFICACIONES-->
              </li>
              <li>
                <a href="#fakelink" class="iconos buscador">
                  a
                </a>
              </li>
              <li class="dropdown perfil">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/media/images/ejemplos/avatar.png" class="img-rounded avatar">
                  <b class="caret"></b>
                </a>
                <!-- SUBMENÚ PERFIL -->
                <ul class="dropdown-menu">
                  <li>
                    <a href="#fakelink">
                      Mi perfil
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="#fakelink">
                      Ajustes
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="#fakelink">
                      Ayuda
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="/logout">
                      Cerrar sesión
                      <i class="fui-arrow-right pull-right">
                      </i>
                    </a>
                  </li>
                </ul>
                <!-- FIN DE SUBMENÚ PERFIL -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>