<div id="timeline">
  <div id="escribe-main">
     <div class="escribe-input">
      <div class="input-append">
        <input id="appendedInputButton-02" class="span2" type="text" placeholder="Busca una de tus tareas.">
        <div id="losbotones">
          <button class="btn btn-small" type="button">
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="cronologia">
    <h6>
      Ref. compra núm. H783SF
    </h6>
    <h4>
      <i>
        Concepto:
      </i>
      MacBook Pro Retina
    </h4>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
    </p>
    <table class="table table-striped">
      <tr>
        <th>Producto</th>
        <th class="pequena">Descuento</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td><p>MacBook Pro Retina</p></td>
        <td>15%</td>
        <td>1500 €</td>
      </tr>
      <tr>
      <tr>
        <td><p>Gastos de envío</p></td>
        <td></td>
        <td>0 €</td>
      </tr>
      <tr>
        <th>Subtotal</th>
        <th></th>
        <th>1275 €</th>
      </tr>
      <tr>
        <th>IVA (21%)</th>
        <th></th>
        <th>267,75 €</th>
      </tr>
      <tr class="apagar">
        <th>Total</th>
        <th></th>
        <th>1542,75 €</th>
      </tr>
    </table>
    <div class="condiciones">
      <p>
        Antes de continuar, por favor lee y acepta nuestro <a href="">contrato de servicios</a>.
      </p>
      <div class="extras">
        <label class="checkbox login-recuerda" for="checkbox1">
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          He leído y acepto los términos de los contratos
        </label>
      </div>
    </div>
    <div class="btn btn-big btn-block btn-embossed">
      Pagar ahora
    </div>
    <div class="paypalbtn">
      Botón de paypal
    </div>
    <div class="btn btn-mini amarillo">
      O bien, eliminar si no te interesa
    </div>
  </div>
</div>