<div id="rightSideBar">
  <div id="contenidoSide">
  
    <!-- BUSCADOR -->
    <input type="text" placeholder="Filtra tus tareas por joinitys" class="inputNormal input-small">
    <!-- FIN BUSCADOR -->
    
    <!-- TODOS LOS MENSAJES -->
    <div class="todosMensajes">
      <!-- CADA MENSAJE -->
      <a href="#">
      <div class="cadaMensaje nuevo">
        	<div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <div class="numeroNotif">
          1
        </div>
        <p class="span9">
          <b>nombre_joinity</b>
          <i>07/06/2013</i>
          <span>Última tarea asignada a mí</span>
        </p>

      </div>
      </a>
      <!-- FIN DE CADA MENSAJE -->
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
   </div>
</div>