<div id="rightSideBar">
  <div id="contenidoSide">
  
    <!-- BUSCADOR -->
    <input type="text" placeholder="Filtra tus pagos…" class="inputNormal input-small">
    <!-- FIN BUSCADOR -->
    
    <!-- TODOS LOS MENSAJES -->
    <div class="todosMensajes">
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje nuevo">
        <div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <div class="numeroNotif">
          
        </div>
        <p class="span9">
          <b>iPad 3, 3 mb ram</b>
          <i>27/05/2013</i>
          <span>53 euros</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <p class="span9">
          <b>iPad 3, 3 mb ram</b>
          <i>27/05/2013</i>
          <span>53 euros</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <p class="span9">
          <b>iPad 3, 3 mb ram</b>
          <i>27/05/2013</i>
          <span>53 euros</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <p class="span9">
          <b>iPad 3, 3 mb ram</b>
          <i>27/05/2013</i>
          <span>53 euros</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje activo">
        <div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        </div>
        <p class="span9">
          <b>iPad 3, 3 mb ram</b>
          <i>27/05/2013</i>
          <span>53 euros</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
   </div>
</div>