@font-face {
    font-family: 'joinity';
    src: url('joinity-webfont.eot');
    src: url('joinity-webfont.eot?#iefix') format('embedded-opentype'),
         url('joinity-webfont.woff') format('woff'),
         url('joinity-webfont.ttf') format('truetype'),
         url('joinity-webfont.svg#joinityregular') format('svg');
    font-weight: normal;
    font-style: normal;

}