{% extends "login/base.html" %}
{% block titulo %}-Iniciar Sesión{% endblock %}
{% block contenedor %}
<div class="contenedor">

	<div class="login">
	  <div class="login-screen">
	    <div class="login-icon">
	      <i class="iconos elefante">
	        K
	      </i>
	      <br>
	      <i class="iconos">
	        J
	      </i>
	    </div>
		{% if state %}
		<script type="text/javascript">alert("{{state}}");</script>
		{% endif %}
	    <form action="" method="post" class="login-form">
	    	{% csrf_token %}
	    	
	      <div class="control-group">
	       	{{ formulario.username }}
	      </div>
	      <div class="control-group">
	       	{{ formulario.password }}
	      </div>
	      <div class="extras">
	        <label class="checkbox login-recuerda" for="checkbox1">
	          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
	        Recuerdame
	        </label>
	        <a class="login-link" href="#">Has perdido tu contraseña?</a>
	      </div>
	      <input class="btn btn-primary btn-small oscuro" type="submit" value="Iniciar Sesión" />
	      
	      <!-- NUEVOOOOOOOOOOOOO -->
	      {% comment %}
	      <a href="/usuario/registro" class="btn btn-primary btn-small oscuro">Registrarse</a>
	      {% endcomment %}
	      <!-- NUEVOOOOOOOOOOOOO -->
	      
	    </form>
	  </div>
	</div>
</div>
{% endblock %}