<div id="rightSideBar">
  <div id="contenidoSide">
  
    <!-- BUSCADOR -->
    <input type="text" placeholder="Filtra tus tareas por joinitys" class="inputNormal input-small">
    <!-- FIN BUSCADOR -->
    
    <!-- TODOS LOS MENSAJES -->
    <div class="todosMensajes">
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje nuevo">
        <div class="avatar span3" style="background-image:url('/media/images/ejemplos/archivo03.png');">
        </div>
        <div class="numeroNotif">
          1
        </div>
        <p class="span9">
          <b>Cumpleaños de la abuela</b>
          <i>27/05/2013</i>
          <span>Última tarea asignada a mí</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/images/ejemplos/avatar.png');">
        </div>
        <p class="span9">
          <b>Nombre de joinity</b>
          <i>27/05/2013</i>
          <span>Este es el nombre de la tarea asignada a mí</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/images/ejemplos/archivo01.png');">
        </div>
        <p class="span9">
          <b>Nombre de joinity</b>
          <i>27/05/2013</i>
          <span>Este es el nombre de la tarea asignada a mí</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje">
        <div class="avatar span3" style="background-image:url('/media/images/ejemplos/archivo02.png');">
        </div>
        <p class="span9">
          <b>Nombre de joinity</b>
          <i>27/05/2013</i>
          <span>Este es el nombre de la tarea asignada a mí</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
      <!-- CADA MENSAJE -->
      <div class="cadaMensaje activo">
        <div class="avatar span3" style="background-image:url('/media/images/ejemplos/avatar.png');">
        </div>
        <p class="span9">
          <b>Nombre de joinity</b>
          <i>27/05/2013</i>
          <span>Este es el nombre de la tarea asignada a mí</span>
        </p>

      </div>
      <!-- FIN DE CADA MENSAJE -->
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
   </div>
</div>