<section class="block">
  <div id="headermarca" style="background-image:url('/media/{{brand.imagen_cabecera}}');">
    <div class="container">
      <div class="colum01">
        <div class="logobrand" style="background-image:url('/media/{{brand.imagen_fondo}}');">
        </div>
      </div>
      <div class="colum02">
        <div class="btn btn-mini btn-block">
          Sus joinitys
        </div>
        <div class="btn btn-mini btn-block">
          Reserva aquí
        </div>
        <a href="#modalMarca" class="btn btn-mini btn-block" data-toggle="modal">
          Información
        </a>
      </div>
      <div class="colum03">
      <a href="/brands/{{brand.id}}/editar">
        <div class="btn btn-mini btn-block amarillo">
          Administra esta marca
        </div>
        </a>
        <div class="btn btn-mini btn-block amarillo">
          Sigue a {{brand.nombre}}
        </div>
        <div class="btn btn-mini btn-block gris">
          Deja de seguir a esta marca
        </div>
        <div class="btn btn-mini btn-block">
          355 seguidores
          <br>
          <hr>
          <a href="http://nike.com" target="_blank">
            {{brand.web}}
          </a>
        </div>
      </div>
      <div class="colum03">
      </div>
    </div>
  </div>
</section>