<footer>
  <div class="container">
    <div class="columna01">
      <div class="iconos logoimagen ">
        K
      </div>
      <div class="iconos logotexto">
        J
      </div>
    </div>
    <div class="columna02">
      <a href="">Síguenos en Facebook</a>
      <p>
        Mantente al día de nuestras últimas novedades y participa en los debates sobre el futuro de Joinity desde nuestra fanpage.
      </p>
    </div>
    <div class="columna03">
      <a href="">Síguenos en Twitter</a>
      <p>
        Atenderemos tus preguntas y sugerencias y te informaremos en tiempo real de la actualidad relacionada con nuestra plataforma. 
      </p>
    </div>
    <div class="columna04">
      <a href="">¿Tienes algún problema?</a>
      <p class="soporte">
        Puedes escribirnos a <span>moc.ytinioj@etropos</span> y te responderemos en el plazo más breve posible de tiempo. ¡Gracias!
      </p>
    </div>
    <div class="links">
      @2013, JOINITY · <a href="">ABOUT</a>  · <a href="">PRIVACY</a> · <a href="">TOS</a> · <a href="">FAQ</a> · <a href="">JOBS</a> · <a href="">BLOG</a>
    </div>
  </div>
</footer>