{% extends "base.html" %}

{% block contenedor %}
<div id="contenedorMain">
{% include "persistentes/menuAdaptativo.html" %}  
  <div class="container-fluid contenedorAdaptativo">
    <div class="row-fluid">
      {% include "persistentes/buscador.html" %}
    </div>
  </div>
</div>

{% include "brands/single/cabecera.html" %}

{% include "brands/single/joinitys.html" %}

{% include "brands/single/reserva-hotel.html" %}

{% include "brands/single/reserva-restaurante.html" %}

{% include "brands/single/informacion.html" %}

{% include "brands/single/footer.html" %}

{% endblock %}