<!-- El modal -->
<div id="modalMarca" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">
    <div class="imagenlogo" style="background-image:url('/media/joinity/nike.jpeg');">
      <h2>
        Nike Spain SLA.
      </h2>
    </div>
    <div class="colu01">
      <p>
        Dirección: <span>Calle Lorem Ipsum Dolor, sn</span>
      </p>
      <p>
        Teléfono de contacto: <span>45823495</span>
      </p>
      <p>
        Correo electrónico: <span>hello@nikespain.com</span>
      </p>
      <p>
        Página web: <span>http://nikespain.com</span>
      </p>
      <div class="btn amarillo btn-small btn-block">
        Envíale un mensaje a Nike Spain
      </div>
    </div>
  </div>
</div>
<!-- FIN DE MODAL CON IMAGEN-->