<!-- El modal -->
<div id="modalMarca" class="modal hide fade modal-img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-body">
    <div class="imagenlogo" style="background-image:url('/media/{{brand.imagen_cabecera}}');">
      <h2>
        {{brand.nombre}}
      </h2>
    </div>
    <div class="colu01">
      <p>
        Dirección: <span>{{brand.direccion}}</span>
      </p>
      <p>
        Teléfono de contacto: <span>{{brand.telefono}}</span>
      </p>
      <p>
        Correo electrónico: <span>{{brand.admin.email}}</span>
      </p>
      <p>
        Página web: <span>{{brand.web}}</span>
      </p>
      <div class="btn amarillo btn-small btn-block">
        Envíale un mensaje a {{brand.nombre}}
      </div>
    </div>
  </div>
</div>
<!-- FIN DE MODAL CON IMAGEN-->