<div class="container contenedor-array faficiones reserva restaurante" id="reservas">
  <div class="contenedor-categoria">
    <div class="la-categoria aficat">
      Reserva mesa en <span>{{brand.nombre}}</span>
    </div>
    <div class="contenedor-elarray">
      <div class="contenedor-los-joinitys">
      <form method="post" id="form_reserva_restaurante">
              {% csrf_token %}
      
        <div class="colu01">
          <div class="minimapa" style="background-image:url('/media/joinity/mapa.png');">
          </div>
          <a href="#modalMarca" data-toggle="modal" class="btn btn-small ubicacion">
            Ubicación
          </a>
        </div>
        <div class="colu02">
          <p class="titul">
            Selecciona una fecha
          </p>
          <div class="fila">
            <p>
              El día
            </p>
            <div class="control-group">
              <div class="input-prepend input-datepicker">
                <button type="button" class="btn">
                  <span class="fui-calendar">
                  </span>
                </button>
                {{reserva_restaurante.fecha_inicio}}
              </div>
            </div>
            <p>
              a las
            </p>
            {{reserva_restaurante.hora}}
            <p class="dospuntos">
              :
            </p>
            {{reserva_restaurante.minuto}}
          </div>
          <div class="fila otrosdetalles">
            <p>
              ¿Algo que añadir?
            </p>
            {{reserva_restaurante.notas}}
          </div>
        </div>
        <div class="colu03">
          <p class="titul">Detalles</p>
          <div class="fila">
            <p>
              Núm. personas
            </p>
            {{reserva_restaurante.n_personas}}
          </div>
        </div>
        <div class="los-join-footer">
          <div class=linea-puntos>
          </div>
          <button type="button" class="btn amarillo btn-embossed" onclick="Dajaxice.brands.reserva_restaurante(reserva_restaurante, {'formulario':$('#form_reserva_restaurante').serializeObject(), 'id_brand':{{brand.id}}, 'joinity_id':{{joinity_origen}}});">
            Reserva tu mesa
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>