<div class="container contenedor-array faficiones reserva restaurante" id="reservas">
  <div class="contenedor-categoria">
    <div class="la-categoria aficat">
      Reserva mesa en <span>Nike</span>
    </div>
    <div class="contenedor-elarray">
      <div class="contenedor-los-joinitys">
        <div class="colu01">
          <div class="minimapa" style="background-image:url('/media/joinity/mapa.png');">
          </div>
          <a href="#modalMarca" data-toggle="modal" class="btn btn-small ubicacion">
            Ubicación
          </a>
        </div>
        <div class="colu02">
          <p class="titul">
            Selecciona una fecha
          </p>
          <div class="fila">
            <p>
              El día
            </p>
            <div class="control-group">
              <div class="input-prepend input-datepicker">
                <button type="button" class="btn">
                  <span class="fui-calendar">
                  </span>
                </button>
                <input type="text" value="27-07-2013" name="fecha_inicio" id="datepicker-entrada" class="span2 hasDatepicker inputNormal">
              </div>
            </div>
            <p>
              a las
            </p>
            <select name="listahoras" value="22" class="select span1">
              <option value="0">13</option>
              <option value="1">14</option>
              <option value="2">15</option>
              <option value="3">21</option>
              <option value="4" selected="selected">22</option>
              <option value="5">23</option>
            </select>
            <p class="dospuntos">
              :
            </p>
            <select name="listahoras" value="22" class="select span1">
              <option value="0" selected="selected">00</option>
              <option value="1">15</option>
              <option value="2">30</option>
              <option value="3">45</option>
            </select>
          </div>
          <div class="fila otrosdetalles">
            <p>
              ¿Algo que añadir?
            </p>
            <input type="text" class="inputNormal" />
          </div>
        </div>
        <div class="colu03">
          <p class="titul">Detalles</p>
          <div class="fila">
            <p>
              Núm. personas
            </p>
            <input type="text" class="inputNormal" />
          </div>
        </div>
        <div class="los-join-footer">
          <div class=linea-puntos>
          </div>
          <button class="btn amarillo btn-embossed">
            Reserva tu mesa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>