<!--
<div id="timeline">
  <div id="cronologia">
   </div>
</div>
-->

<div id="timeline">
{% if single %}
  <div id="cronologia2">
  	{% if single.foto %}
    <img src="/media/images/ejemplos/archivo01.png" class="imagen-cabecera" alt="">
    {% else %}
    <img src="/media/{{single.foto}}" class="imagen-cabecera" alt="">
    {% endif %}
    <h3>
      {{single.titulo}}
    </h3>
    <p>
      {{single.descripcion}}
    </p>
    <h4 class="conlinea">
      Fechas
    </h4>
    <p class="texte"><i>Inicio:</i> {{single.fecha_inicio}}</p>
    {% if single.fecha_fin %}
    <p clas="texte"><i>Fin:</i> {{single.fecha_fin}}</p>
    {% endif %}
    <br>
    <h4 class="conlinea">
      Participantes
    </h4>
    {% for participante in single.usuarios_evento.all %}
       <p>{{participante.usuario.first_name}}</p>
    {% endfor %}
    <h4 class="conlinea">
      Ubicación
    </h4>
     {% for lugar in single.lugares_evento.all %}
     <p clas="texte"><i>Ciudad: </i>{{lugar.lugar}}</p>
     <div class="Flexible-container">
       <image src="http://maps.googleapis.com/maps/api/staticmap?center={{lugar.lugar}}&zoom=13&size=600x500&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false" alt="">
      </div>
{% endfor %}

  <div id="escribe-main">
  
  <form class="escribeform prinform" action="" method="post" enctype="multipart/form-data" id="formulario_posteo">
  {% csrf_token %}
   <div class="escribe-input">
    <div class="avatar" style="background-image:url('/media/{{usuario.usuario.foto}}');">
    </div>
    
    <div class="input-append">
      {{form.contenido}}
      <div id="losbotones">
        <button class="btn btn-small" type="button" onclick="Dajaxice.joinitys.eventos.postear(postear_evento, {'formulario':$('#formulario_posteo').serializeObject(), 'evento_id':{{single.id}}});">        
          Comentar
        </button>
      </div>
    </div>
   </div>
   </form>
  </div>
  </div>
  <div id="cronologia">
    <div id="lineaTiempo">
    </div>

    <!-- EL CHAT -->
    {% for contenido in single.actualizaciones.all|dictsortreversed:"id" %}
   {% include "eventos/updateTexto.html" %}
  {% endfor %}

  </div>
 {% endif %}
</div>