<legend>
  3. Invita a los participantes
</legend>

<a href="/joinity/{{joinity.id}}/evento/invitar/{{evento.id}}/all" class="btn invitartodos btn-mini amarillo">
  Invita a todos de una vez
</a>
<table class="table table-striped invipar">
  <tr>
    <th>Nombre</th>
    <th class="pequena">Estado</th>
  </tr>
  {% for usuario in joinity.joinity_usuario.all %}
  <tr>
    <td><p>{{usuario.usuario.first_name}}</p></td>
    <td>
      {% if usuario.usuario not in usuarios_invitados %}
        <a href="/joinity/{{joinity.id}}/evento/invitar/{{evento.id}}/{{usuario.usuario.id}}" class="btn btn-mini verde">
	Invitar</a>
      {% else %}
        <div class="btn btn-mini grisclaro">Ya invitado</div>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<a href="/joinity/{{joinity.id}}/" class="btn">
  Crea el evento
</a>