<div id="rightSideBar">
  <div id="contenidoSide">
  
    <!-- BUSCADOR -->
    <input type="text" placeholder="Filtra tus pagos:" class="inputNormal input-small">
    <!-- FIN BUSCADOR -->
    
    <!-- TODOS LOS MENSAJES -->
    <div class="todosMensajes">
    {% for evento in eventos %}
      <!-- CADA MENSAJE -->
      <a href="/mis_eventos/{{evento.id}}">
      <div class="cadaMensaje nuevo">
        {% if evento.foto %}
        	<div class="avatar span3" style="background-image:url('/media/{{evento.foto}}');">
        {% else %}
        	<div class="avatar span3" style="background-image:url('/media/defaults/avatar.jpeg');">
        {% endif %}
        </div>
        <div class="numeroNotif">
          2
        </div>
        <p class="span9">
          <b>{{evento.titulo}}</b>
          <i>{{evento.fecha_inicio}}</i>
          {% for lugar in evento.lugares_evento.all|slice:":1" %}
          	<span>En {{lugar.lugar}}</span>
          {% endfor %}
        </p>
      </div>
      </a>
      <!-- FIN DE CADA MENSAJE -->
     {% endfor %}
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
   </div>
</div>
