    <!-- TITULAR DE LA PÁGINA -->
    <div class="titular">
      <h3>
        Crea un Joinity
      </h3>
      <h6>
        Y empieza a disfrutar la vida en grupo
      </h6>
    </div>
    <!-- FIN DE TITULAR -->

    <!-- UNA ALERTA -->
    <div class="alert unaAlerta">
      <button type="button" class="close" data-dismiss="alert">
        &times;
      </button>
      <strong>
        ¡Atención!
      </strong>
      Has olvidado incluir tu tarjeta de crédito.
    </div>
    <!-- FIN DE ALERTA -->

    <!-- PASOS -->
    <ul class="breadcrumb">
      <li>
        <a href="#">
          Categoría
        </a>
      </li>
      <li>
        
          Descripción
        
      </li>
      <li class="active">
        Participantes
      </li>
    </ul>
    <!-- FIN DE PASOS -->

    <!-- EL FORMULARIO -->
    <fieldset>

      <!-- EPÍGRAFE -->
      <legend>
        1. Categoría
      </legend>

      <!-- CAMPO INPUT GRANDE -->
      <div class="campo">
        <!-- TÍTULO INPUT-->
        <label>
          Descripción del campo
        </label>
        <input type="text" placeholder="Escribe algo" class="inputNormal">
        <!-- AYUDA EXTRA -->
        <span class="help-block">
          Si tienes alguna duda recuerda que puedes, bla, bla, bla.
        </span>
      </div>
      <!-- FIN DE CAMPO INPUT GRANDE -->

      <!-- CAMPO INPUT PEQUEÑO -->
      <div class="campo">
        <!-- TÍTULO INPUT-->
        <label>
          Descripción del campo
        </label>
        <input type="text" placeholder="Escribe algo" class="inputNormal input-small">
        <!-- AYUDA EXTRA -->
        <span class="help-block">
          Si tienes alguna duda recuerda que puedes, bla, bla, bla.
        </span>
      </div>
      <!-- FIN DE CAMPO INPUT PEQUEÑO -->

      <!-- CAMPO TEXTAREA -->
      <div class="campo">
        <!-- TÍTULO INPUT-->
        <label>
          Descripción del campo
        </label>
        <textarea rows="3">
        </textarea>
        <!-- AYUDA EXTRA -->
        <span class="help-block">
          Si tienes alguna duda recuerda que puedes, bla, bla, bla.
        </span>
      </div>
      <!-- FIN DE CAMPO TEXTAREA -->

      <!-- CAMPO INPUT MEDIO -->
      <div class="campo">
        <!-- TÍTULO INPUT-->
        <label>
          Descripción del campo
        </label>
        <input type="text" placeholder="Escribe algo" class="inputNormal input-medium">
        <!-- AYUDA EXTRA -->
        <span class="help-block">
          Si tienes alguna duda recuerda que puedes, bla, bla, bla.
        </span>
      </div>
      <!-- FIN DE CAMPO INPUT MEDIO -->

      <!-- CAMPO RADIO -->
      <div class="campo">
        <!-- TÍTULO -->
        <label>
          Este es el elemento radio.
        </label>
        <!-- TODAS LAS OPCIONES -->
        <div class="radios">
          <!-- OPCIÓN 1 -->
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-toggle="radio">
            Radio no seleccionado
          </label>
          <!-- OPCIÓN 2 -->
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1" data-toggle="radio" checked="">
            Radio seleccionado
          </label>

          <!-- OPCIÓN 3 (INACTIVO) -->
          <label class="radio">
            <input type="radio" name="optionsRadiosDisabled" id="optionsRadios3" value="option2" data-toggle="radio" disabled="">
            Radio inactivo
          </label>

          <!-- OPCIÓN 4 (INACTIVO CHECKED) -->
          <label class="radio">
            <input type="radio" name="optionsRadiosDisabled" id="optionsRadios4" value="option2" data-toggle="radio" checked="" disabled="">
            Radio inactivo seleccionado
          </label>

        </div>
        <!-- FIN DE TODAS LAS OPCIONES -->
      </div>
      <!-- FIN DEL CAMPO RADIOS -->
      
      <!-- CAMPO SELECT -->
      <div class="campo">
        <!-- TÍTULO -->
        <label>
          Descripción del campo
        </label>
        <select name="herolist" value="X-Men" class="select-block span3">
          <option value="0">Elige una opción</option>
          <option value="1">Opción 1</option>
          <option value="2">Opción 2</option>
          <option value="3">Opción 3</option>
          <option value="X-Men" selected="selected">Opción 4</option>
          <option value="Crocodile">Opción 5</option>
        </select>
      </div>
      <!-- FIN DE SELECT -->
      
      <!-- CAMPO CHECKBOXES -->
        <div class="campo">
          <!-- TÍTULO -->
          <label>
            Título o descripción
          </label>
          <!-- TODOS LOS CHECKBOXES -->
          <div class="losCheckboxes checkColumnas">
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
            <!-- CADA CHECKBOX -->
            <label class="checkbox login-recuerda" for="checkbox1">
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          Recuérdame
            </label>
            <!-- FIN DE CADA CHECKBOX -->
          </div>
        <!-- FIN DE LISTA DE CHECKBOXES -->
        </div>
      <!-- FIN DE CAMPO CHECKBOXES -->

      <!-- CAMPO SLIDER -->
      <div class="campo">
        <!-- TÍTULO-->
        <label>
          Descripción del campo
        </label>
        <div id="slider" class="ui-slider">
          <div class="ui-slider-segment"></div>
          <div class="ui-slider-segment"></div>
          <div class="ui-slider-segment"></div>
        </div>

        <!-- AYUDA EXTRA -->
        <span class="help-block">
          Si tienes alguna duda recuerda que puedes, bla, bla, bla.
        </span>
      </div>
      <!-- FIN DE CAMPO SLIDER -->

      <!-- BOTÓN DEL FORMULARIO -->
      <button type="submit" class="btn btn-formulario">
        Enviar
      </button>

    </fieldset>
    <!-- FIN DEL FORMULARIO -->

    <!-- TEXTOS DE PRUEBA -->
    <h1>
      Este texto no es otra cosa sino un h1
    </h1>
    <h2>
      Este texto no es otra cosa sino un h2
    <h2>
    <h3>
      Este texto no es otra cosa sino un h3
    </h3>
    <h4>
      Este texto no es otra cosa sino un h4
    </h4>
    <h5>
      Este texto no es otra cosa sino un h5
    </h5>
    <h6>
      Este texto no es otra cosa sino un h6
    </h6>
    <p>
      Este texto no es otra cosa sino un texto de párrafo y como tal tenemos que observar cómo se comporta en multilínea.
      <b>
        Este texto es un párrafo en negrita.
      </b>
      <i>
        Y aquí encontramos un texto en cursiva, pero en esta fuente no hay cursivas, vaya.
      </i>
    </p>
    <span>
      Y esto sería un texto diminuto.
    </span>
    <!-- FIN DE TEXTOS DE PRUEBA -->

    <!-- PAGINACIÓN -->
    <div class="pagination">
      <ul>
        <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
        <li class="active"><a href="#fakelink">1</a></li>
        <li><a href="#fakelink">2</a></li>
        <li><a href="#fakelink">3</a></li>
        <li><a href="#fakelink">4</a></li>
        <li><a href="#fakelink">5</a></li>
        <li><a href="#fakelink">6</a></li>
        <li><a href="#fakelink">7</a></li>
        <li><a href="#fakelink">8</a></li>
        <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
      </ul>
    </div>
    <!-- FIN DE PAGINACIÓN -->