<legend>
  1. Información general del joinity
</legend>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="fieldWrapper">
    <label for="id_Nombre">
      Dale un nombre a este joinity
    </label>
    {{ formulario.nombre }}
    <span class="help-block">
      *Consejo: elige un nombre breve y descriptivo de la actividad que llevaréis a cabo.
    </span>
  </div>
  <div class="fieldWrapper">
    <label for="id_descripcion">
      Información adicional (o descripción)
    </label>
    {{ formulario.descripcion }}
    <span class="help-block">
      *Añade aquí cualquier dato importante para los participantes.
    </span>
  </div>
  <div class="campo fotoEditarUsuario">
      <label for="foto">
        Sube una imagen de cabecera
      </label>
      <div class="fileinput">
        <div class="customFileInput btn btn-azul">
          Haz click para subir una foto
        </div>  
        {{ formulario.foto }}
      </div>
      <span class="help-block">
        *Te recomendamos que subas una imagen de calidad y coherente con la actividad del grupo.
      </span>
    </div>
    <legend>
      2. Participantes
    </legend>
    <div class="fieldWrapper participantes">
      <label for="id_nmin">
        Número mínimo
      </label>
      {{ formulario.n_min }}
      <span class="help-block">
        *Déjalo vacío si no hay mínimo
      </span>
    </div>
    <div class="fieldWrapper participantes">
      <label for="id_nmax">
        Número máximo
      </label>
      {{ formulario.n_max }}
      <span class="help-block">
        *Déjalo vacío si no hay máximo
      </span>
    </div>
    <div class="fieldWrapper">
      <label for="id_precio">
        Precio
      </label>
      {{ formulario.precio }}
    </div>
    <div class="fieldWrapper">
      <label for="id_privacidad">
        Privacidad
      </label>
      {{ formulario.privacidad }}
    </div>
{% if pagina == "editar" %}
 <!-- CAMPO SELECT -->
    <div class="campo">
      <!-- TITULO -->
      <label>
          SELECCIONA CATEGORIA
      </label>
      <select id="selectcategoria" value="X-Men" class="select-block span3" onChange="Dajaxice.joinitys.creacion.cargar_subcategoria(cargar_subcategoria, {'categoria':$(this).val(), 'tipo':2});">
        {% for categoria in categorias %}
          <option value="{{categoria.id}}" {% if categoria.nombre == joinity.get_categoria %}selected="selected"{% endif %} >{{categoria.nombre}}</option>
        {% endfor %}
      </select>
      <div id="select_subcategorias">
         <div class="campo">
            <!-- TITULO -->
            <label>
               Selecciona Subcategoria
            </label>
            <select id="id_subcategoria" name="subcategoria" value="X-Men" class="select-block span3" >
               {% for subcategoria in subcategorias %}
                  <option value="{{subcategoria.id}}" {% if subcategoria.nombre == joinity.get_subcategoria %}selected="selected"{% endif %}>{{subcategoria.nombre}}</option>
               {% endfor %}
            </select>
         </div>
      </div>
    </div>
{% else %}
  <!-- CAMPO SELECT -->
    <div class="campo">
      <!-- TITULO -->
      <label>
          SELECCIONA CATEGORIA
      </label>
      <select id="selectcategoria" value="X-Men" class="select-block span3" onChange="Dajaxice.joinitys.creacion.cargar_subcategoria(cargar_subcategoria, {'categoria':$(this).val(), 'tipo':2});">
         <option selected="selected">Selecciona una Categoria:</option>
        {% for categoria in categorias %}
          <option value="{{categoria.id}}">{{categoria.nombre}}</option>
        {% endfor %}
      </select>
      
    </div>
    <div id="select_subcategorias">
    </div>
    
{% endif %}
<a href="/categorias/nueva_compra/?next=/joinity/nuevo_joinity/compras/"><input type="button" value="Crear Subcategoria" /></a>
Gestos de envio: {{formcompras.envio}}
IVA: {{formcompras.iva}}
Fecha Fin: {{formcompras.fecha_fin}}
brand: {{formcompras.brand}}
Joiners Descuento 1:{{formcompras.n_descuento1}}
Descuento 1:{{formcompras.descuento1}}
Joiners Descuento 2:{{formcompras.n_descuento2}}
Descuento 2:{{formcompras.descuento2}}
Joiners Descuento 3:{{formcompras.n_descuento3}}
Descuento 3:{{formcompras.descuento3}}
{% if formlugares %}
    LUGARES: 
    <div id="lista_lugares">
     {% for lugar in joinity.lugares.all %}
      Paso {{lugar.n}}: {{lugar.lugar}}<br>
     {% endfor %}
     </div>
     {{ formlugares.lugar }}
     <input type="button" value="Enviar" class="btn btn-small" id="ajaxbtn" onclick="Dajaxice.joinitys.creacion.anyadir_lugar(anyadir_lugar, {'lugar':$('#id_lugar').val(), 'joinity_id':{{joinity.id}}});"/>

  {% endif %}
  <br>
  <input type="submit" class="btn btn-embossed amarillo" value="Guardar y continuar" />
</form>
