<legend>
  1. Información general del joinity
</legend>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- NOMBRE -->
  <div class="campo">
    <label for="id_Nombre">
      Dale un nombre a este joinity
    </label>
    {{ formulario.nombre }}
    <span class="help-block">
      *Consejo: elige un nombre breve y descriptivo de la actividad que llevaréis a cabo.
    </span>
  </div>
  
  <!-- DESCRIPCIÓN -->
  <div class="campo">
    <label for="id_descripcion">
      Información adicional (o descripción)
    </label>
    {{ formulario.descripcion }}
    <span class="help-block">
      *Añade aquí cualquier dato importante para los participantes.
    </span>
  </div>
  
  <!-- IMAGEN CABECERA -->
  <div class="campo fotoEditarUsuario">
    <label for="foto">
      Sube una imagen de cabecera
    </label>
    <div class="fileinput">
      <div class="customFileInput btn btn-azul">
        Haz click para subir una foto
      </div>  
      {{ formulario.foto }}
    </div>
    <span class="help-block">
      *Te recomendamos que subas una imagen de calidad y coherente con la actividad del grupo.
    </span>
  </div>
  
  <!-- SUBCATEGORÍA -->
  <div class="campo">
    <label>
      ¿Qué categoría describe mejor este joinity?
    </label>
    <select id="id_subcategoria" name="subcategoria" value="X-Men" class="select-block span3" >
       {% for subcategoria in subcategorias %}
          <option value="{{subcategoria.id}}" {% if forloop.first %}selected="selected"{% endif %}>
            {{subcategoria.nombre}}
          </option>
       {% endfor %}
    </select>

  <!-- FECHAS -->
  <div class="control-group">
    <label for="id_Titulo">
      Cuándo
    </label>
    <div class="input-prepend input-datepicker">
      <button type="button" class="btn">
        <span class="fui-calendar">
        </span>
      </button>
      {{ formfamily.fecha_inicio }}
    </div>
  </div>
  <label class="checkbox login-recuerda masdeundia" for="checkbox1">
    <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
    <span class="txtlabel">
      ¿Durará más de un día?
    </span>
  </label>
  <div class="campo control-group diafin">
      <label for="id_Titulo">
        ¿Qué día termina?
      </label>
      <div class="input-prepend input-datepicker">
        <button type="button" class="btn">
          <span class="fui-calendar">
          </span>
        </button>
        {{ formfamily.fecha_fin }}
      </div>
    </div>
  </div>
    <legend>
      2. Participantes
    </legend>
    <div class="fieldWrapper participantes">
      <label for="id_nmin">
        Número mínimo
      </label>
      {{ formulario.n_min }}
      <span class="help-block">
        *Déjalo vacío si no hay mínimo
      </span>
    </div>
    <div class="fieldWrapper participantes">
      <label for="id_nmax">
        Número máximo
      </label>
      {{ formulario.n_max }}
      <span class="help-block">
        *Déjalo vacío si no hay máximo
      </span>
    </div>
    
    {% if pagina == "crear-compras" %}
    <div class="fieldWrapper">
      <label for="id_precio">
        Precio
      </label>
      {{ formulario.precio }}
    </div>
    {% endif %}

    {% if pagina == "crear-aficiones" %}
      {% include "creacion/formaficiones.html" %}

    {% elif pagina == "crear-family" %}
      

    {% elif pagina == "crear-compras" %}
      {% include "creacion/formcompras.html" %}
    {% endif %}

    <div class="fieldWrapper">
      <label for="id_privacidad">
        Privacidad
      </label>
      {{ formulario.privacidad }}
    </div>

    {% if formcompras %}
      {% include "creacion/formcompras.html" %}

    {% elif formaficiones %}
      {% include "creacion/formaficiones.html" %}

    {% elif formfamily %}
      

    {% endif %}

    {% if formlugares %}
       LUGARES: 
       <div id="lista_lugares">
        {% for lugar in joinity.lugares.all %}
        	Paso {{lugar.n}}: {{lugar.lugar}}<br>
        {% endfor %}
        </div>
        <form action="" method="post" id="form_anyadir_lugar">
        	{% csrf_token %}
        	{{ formlugares.lugar }}
            <input type="button" value="Enviar" class="btn btn-small" id="ajaxbtn" onclick="Dajaxice.joinitys.creacion.anyadir_lugar(anyadir_lugar, {'lugar':$('#id_lugar').val(), 'joinity_id':{{joinity.id}}});"/>
        </form>	

    {% endif %}
    <br>
    

<a href="/categorias/nuevo_interes/?next=/joinity/nuevo_joinity/aficiones/"><input type="button" value="Crear Subcategoria" /></a>

<div class="fieldWrapper">
    <label for="id_fecha_inicio">Fecha Inicio:</label>
    {{ formfamily.fecha_inicio }}
</div>
<div class="fieldWrapper">
    <label for="id_fecha_fin">Fecha Fin:</label>
    {{ formfamily.fecha_fin }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Repeticion:</label>
    {{ formfamily.repeticion }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Nivel:</label>
    {{ formfamily.nivel }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Requisitos:</label>
    {{ formfamily.requisitos }}
</div>

    <input type="submit" class="btn btn-embossed amarillo" value="Guardar y continuar" />
  </form>




