<div class="fieldWrapper">
	<label for="id_subcategoria">Subcategoria:</label>
	{{ formaficiones.subcategoria }}
	<a href="/categorias/nuevo_interes/?next=/joinity/nuevo_joinity/aficiones/"><input type="button" value="Crear Subcategoria" /></a>
</div>
<div class="fieldWrapper">
    <label for="id_fecha_inicio">Fecha Inicio:</label>
    {{ formaficiones.fecha_inicio }}
</div>
<div class="fieldWrapper">
    <label for="id_fecha_fin">Fecha Fin:</label>
    {{ formaficiones.fecha_fin }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Repeticion:</label>
    {{ formaficiones.repeticion }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Nivel:</label>
    {{ formaficiones.nivel }}
</div>
<div class="fieldWrapper">
    <label for="id_repeticion">Requisitos:</label>
    {{ formaficiones.requisitos }}
</div>
