{% if pagina == "editar" %}
 <!-- CAMPO SELECT -->
    <div class="campo">
      <!-- TITULO -->
      <label>
          SELECCIONA CATEGORIA
      </label>
      <select id="selectcategoria" value="X-Men" class="select-block span3" onChange="Dajaxice.joinitys.creacion.cargar_subcategoria(cargar_subcategoria, {'categoria':$(this).val(), 'tipo':2});">
        {% for categoria in categorias %}
          <option value="{{categoria.id}}" {% if categoria.nombre == joinity.get_categoria %}selected="selected"{% endif %} >{{categoria.nombre}}</option>
        {% endfor %}
      </select>
      <div id="select_subcategorias">
         <div class="campo">
            <!-- TITULO -->
            <label>
               Selecciona Subcategoria
            </label>
            <select id="id_subcategoria" name="subcategoria" value="X-Men" class="select-block span3" >
               {% for subcategoria in subcategorias %}
                  <option value="{{subcategoria.id}}" {% if subcategoria.nombre == joinity.get_subcategoria %}selected="selected"{% endif %}>{{subcategoria.nombre}}</option>
               {% endfor %}
            </select>
         </div>
      </div>
    </div>
{% else %}
  <!-- CAMPO SELECT -->
    <div class="campo">
      <!-- TITULO -->
      <label>
          SELECCIONA CATEGORIA
      </label>
      <select id="selectcategoria" value="X-Men" class="select-block span3" onChange="Dajaxice.joinitys.creacion.cargar_subcategoria(cargar_subcategoria, {'categoria':$(this).val(), 'tipo':2});">
         <option selected="selected">Selecciona una Categoria:</option>
        {% for categoria in categorias %}
          <option value="{{categoria.id}}">{{categoria.nombre}}</option>
        {% endfor %}
      </select>
      
    </div>
    <div id="select_subcategorias">
    </div>
    
{% endif %}
<a href="/categorias/nueva_compra/?next=/joinity/nuevo_joinity/compras/"><input type="button" value="Crear Subcategoria" /></a>
Gestos de envio: {{formcompras.envio}}
IVA: {{formcompras.iva}}
Fecha Fin: {{formcompras.fecha_fin}}
brand: {{formcompras.brand}}
Joiners Descuento 1:{{formcompras.n_descuento1}}
Descuento 1:{{formcompras.descuento1}}
Joiners Descuento 2:{{formcompras.n_descuento2}}
Descuento 2:{{formcompras.descuento2}}
Joiners Descuento 3:{{formcompras.n_descuento3}}
Descuento 3:{{formcompras.descuento3}}

