{% extends "base.html" %}
{% block contenedor %}
<div id="contenedorMain">

  {% include "persistentes/menuAdaptativo.html" %}
  <div class="container-fluid contenedorAdaptativo">
    <div class="row-fluid">
      <div class="span2 panelIzquierdo">
		{% include "persistentes/leftMenu.html" %}
      </div>
      <div class="span10" id="contenedorPrincipal">
		{% include "persistentes/buscador.html" %}
		<div id="unJoinity">

  			<div id="contenedorJoinity" class="creareljoinity">
  			  <div id="loBlanco">
            <div class="contenidoPagina">
  				<!-- CONTENIDO -->
  				    <div class="titular">
      <h3>
        ¿Qué tipo de Joinity quieres crear?
      </h3>
      <h6>
        Selecciona una opción 
      </h6>
      <br>
    </div>
    <a href="/joinity/nuevo_joinity/family" class="btn botonjoinity btn-embossed claro">
      <i class="iconos">
        5
      </i>
      <h4 class="color verde">
        Family and friends
      </h4>
      <p>
        Un grupo privado con tus amigos y familiares para planear actividades, cumpleaños, comprar regalos en grupo o realizar reservas en hoteles y restaurantes.
      </p>
    </a>
    <a href="/joinity/nuevo_joinity/aficiones" class="btn botonjoinity btn-embossed claro">
      <i class="iconos">
        4
      </i>
      <h4 class="color azul">
        Aficiones
      </h4>
      <p>
        Deportes, juegos de mesa, viajes o conciertos: disfruta de tus aficiones favoritas en tu ciudad, planifica todos los detalles y compártelas con otros joiners cerca de ti.
      </p>
    </a>
    <a href="/joinity/nuevo_joinity/compras" class="btn botonjoinity btn-embossed claro">
      <i class="iconos">
        3
      </i>
      <h4 class="color rojo">
        Compras
      </h4>
      <p>
        ¿Te gustaría ver en Joinity algún producto específico con descuento de grupo? Haz click aquí e indícanos cuál: quizás te sorprendamos antes de lo que esperas...
      </p>
    </a>
				
				<!-- FIN CONTENIDO -->
    			<div style="clear:both;width:1px;height:1px;">
    			</div> 

  			</div>
		</div>
		
      </div>
    </div>
  </div>
</div>

{% endblock %}

  </div>
</div>