    <div id="lineaTiempo">
    </div>
    <!-- EL CHAT -->
    {% if mensajes %}
    {% for mensaje in mensajes|slice:":8" %}
    {% if not mensaje.leido %}
       {{mensaje.visto}}
    {% endif %}
    <!-- INICIO MENSAJE -->
    <div class="actualizacion texto">
      <!-- AUTOR Y FECHA -->
      <div class="clasificacion">
        <div class="icono avatar" style="background-image:url('/media/{{mensaje.remitente.usuario.foto}}');">
        </div>
        <div class="fecha etiqueta">
        {% load mensajes_filters %}
        {% if mensaje.fecha|es_hoy %}
        	{{mensaje.fecha|date:'H:i'}}
        {% else %}
          {{mensaje.fecha|date:'d/m/y'}}
        {% endif %}
        </div>
      </div>
      <!-- / FIN AUTOR Y FECHA -->
      <!-- CUERPO MENSAJE -->
      <div class="continente">
        <div class="creditos">
          <p class="smallTxt">
            <a href="/usuario/{{mensaje.remitente.id}}">
            	{{mensaje.remitente.first_name}}
            </a>
            ha dicho:
          </p>
        </div>
        <div class="contenido">
          <div class="texto">
            <p>
              {{mensaje.mensaje}}
            </p>
          </div>
        </div>
      </div>
      <!-- / FIN CUERPO MENSAJE -->
    </div>
    <!-- FIN MENSAJE -->
    {% endfor %}
    {% else %}
      No hay mensajes
    {% endif %}