<div id="rightSideBar">
  <div id="contenidoSide">
    <!-- BUSCADOR -->
    <!-- <input type="text" placeholder="Busca en tus mensajes" class="inputNormal input-small"> -->
    <ul class="breadcrumb">
      <li>
        <a href="/mensaje/inbox/">
          Mis mensajes
        </a>
      </li>
      <li class="active">
        <a href="/mensaje/inbox/">
          Todos mis mensajes
        </a>
      </li>
    </ul>
    <!-- FIN BUSCADOR -->
    <!-- TODOS LOS MENSAJES -->
    {% load mensajes_filters %}
    <div class="todosMensajes">
    {% if todos_los_mensajes %}
      {% for mensaje in todos_los_mensajes %}
      <!-- CADA MENSAJE -->
      <a href="/mensaje/inbox/{{mensaje.usuario.id}}">
        <div class="cadaMensaje {% if mensaje.mensaje.estado == 1 %}{% else %}nuevo{% endif %}">
          <div class="avatar span3" style="background-image:url('/media/{{mensaje.usuario.usuario.foto}}');">
          </div>
        {% if mensaje.mensaje.estado == 0 and mensaje.mensaje.destinatario == usuario and mensaje.mensaje.remitente != conversador and mensaje.mensaje.remitente != conversador %}
        <div class="numeroNotif">
          {{mensaje.usuario.id|n_nuevos:usuario.id}}
        </div>
        {% endif %}
        <p class="span9">
          <b>
            {{mensaje.usuario.first_name}} {{mensaje.usuario.last_name}}
          </b>
            {% if mensaje.mensaje.fecha|es_hoy %}
            <i>
              {{mensaje.mensaje.fecha|date:'H:i'}}
            </i>
            {% else %}
            <i>
              {{mensaje.mensaje.fecha|date:'d/m/Y'}}
            </i>
            {% endif %}
            <span>
              {{mensaje.mensaje.mensaje}}
            </span>
          </p>
        </div>
      </a>
      <!-- FIN DE CADA MENSAJE -->
    {% endfor %}
    {% endif %}
    </div>
    <!-- FIN DE TODOS LOS MENSAJES -->
  </div>
</div>