
{% load mensajes_filters %}

<div id="timeline">
{% if formulario %}
  <div id="escribe-main">
    <div class="escribe-input">
      <div class="avatar" style="background-image:url('/media/{{usuario.usuario.foto}}');">
      </div>
      <form id="formulario_mensaje">
        {% csrf_token %}
        <div class="input-append">
          {{formulario.mensaje}}
          <div id="losbotones">
            <input type="button" value="Enviar" class="btn btn-small" id="ajaxbtn" onclick="cargadormensajes();Dajaxice.mensajes.enviar_mensaje(enviar_mensaje, {'formulario':$('#formulario_mensaje').serializeObject(), 'conversador_id':{{conversador.id}}});"/>
          </div>
        </div>
      </form>
      <!-- ERROR -->
      <div id="mensaje_error">
        <div class="alert unaAlerta">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong>
            ¡Ups!
          </strong>
          Hubo algún error.
        </div>
      </div><!--  Fin de error -->
    </div>
  </div>
  <div id="cronologia">
    <div id="lineaTiempo">
    </div>
    <!--
    <div id="lineaTiempo" class="l-der">
    </div>
    -->
    <!-- EL CHAT -->
    {% if mensajes %}
    {% for mensaje in mensajes %}
    <!-- INICIO MENSAJE -->
    <div class="actualizacion texto">
      <!-- AUTOR Y FECHA -->
      <div class="clasificacion">
        <div class="icono avatar" style="background-image:url('/media/{{mensaje.remitente.usuario.foto}}');">
        </div>
        <div class="fecha etiqueta">
        {% if mensaje.fecha|es_hoy %}
        	{{mensaje.fecha|date:'H:i'}}
        {% else %}
        	{{mensaje.fecha|date:'d/m/y'}}
        {% endif %}
        </div>
      </div>
      <!-- / FIN AUTOR Y FECHA -->
      <!-- CUERPO MENSAJE -->
      <div class="continente">
        <div class="creditos">
          <p class="smallTxt">
            <a href="/usuario/{{mensaje.remitente.id}}">
              {{mensaje.remitente.first_name}}
            </a>
            ha dicho:
          </p>
        </div>
        <div class="contenido">
          <div class="texto">
            <p>
              {{mensaje.mensaje}}
            </p>
          </div>
        </div>
      </div>
      <!-- / FIN CUERPO MENSAJE -->
    </div>
    <!-- FIN MENSAJE -->
    {% endfor %}
    {% else %}
    	No tiene mensajes
    {% endif %}
  </div>
  {% endif %}
</div>

